<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
      <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>
      <div class="mainContent w-full">
        <div
        class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gamd:p-4 p-[4px] bg-[#00457b] py-3 md:py-5">
        <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
        </a>
        <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/ece/aboutDepartment">Electronics Communications & Eng... <i class="ri-arrow-right-s-line text-md"></i>
        </a>
        <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="#">Laboratory <i class="ri-arrow-right-s-line text-md"></i>
        </a>
    </div>
        <div class="content max-w-6xl mx-auto bg-white px-10 mt-16 mb-10">
          <h2 class="text-2xl uppercase font-bold text-black">
            Laboratory
          </h2>
          <div class="w-full h-[1px] bg-zinc-300 mt-2"></div>
          
          <div class="max-w-6xl mx-auto bg-white py-6">
            <h1 class="text-2xl font-medium">Department Laboratories</h1>
            <p class="mt-6">
                The Laboratories are providing controlled conditions for conducting Research, Experiments, and Measurements. The Laboratories at IIIT Nagpur are reservoirs of opportunity, energy, innovation, and growth. The various available labs in the ECE department are as follows:
            </p>
            <ul class="mt-4 pl-6 list-decimal list-inside">
                <li>Electronic Devices and Circuits lab</li>
                <li>Analog Electronics lab</li>
                <li>Digital Electronics lab</li>
                <li>Electrical Engineering lab</li>
                <li>Signals and Systems lab</li>
                <li>Microprocessors & Interfacing lab</li>
                <li>Analog ICs lab</li>
                <li>Network Theory lab</li>
                <li>Digital Signal Processing lab</li>
                <li>VLSI lab</li>
                <li>Control Systems lab</li>
                <li>Computing lab</li>
                <li>Project lab</li>
                <li>Research lab</li>
                <li>Mechanics and Graphics lab</li>
                <li>Robotics lab</li>
                <li>Internet of Things lab</li>
                <li>Workshop lab</li>
            </ul>
            <h1 class="text-xl font-semibold mt-8">Following are the list of Equipment in ECE Labs</h1>
            <ul class="list-disc list-inside pl-6 mt-4">
              <li>Analog-Digital Circuits Development Platform</li>
              <li>Cathode Ray Oscilloscope</li>
              <li>Digital Storage Oscilloscope</li>
              <li>Fm Transmitter-Receiver Trainer</li>
              <li>Frequency Division Multiplexer</li>
              <li>Labtech Microcontroller Kit</li>
              <li>Microprocessor Kit</li>
              <li>Pcb Machine</li>
              <li>Scientech 827a Workstation</li>
              <li>Scientech 827b Workstation</li>
              <li>Scientech 827c Workstation</li>
              <li>Software Defined Radio for Wireless Digital Communication</li>
              <li>Spectrum Analyzer</li>
              <li>Tdm Pulse Code Modulation Kit</li>
              <li>Texas LCDK 6748 (Digital Signal Processing Kit)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 