
<footer class="w-full bg-[#00457b] text-white py-5 lg:px-10 md:px-4 px-6">
    <div
      class="w-full flex md:flex-row flex-col justify-between container mx-auto"
    >
      <div class="md:w-[45%] w-full">
        <h1 class="font-medium lg:text-[2vw] md:text-[2.5vw] text-[8vw]">
          Important Links
        </h1>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="/footerPages/grievence">Grievance</a>
        </h2>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="https://docs.google.com/forms/d/e/1FAIpQLSco29-RxP8WzKQkS_E5SkuHMZGaKnHxvvYj-HHWhscQ6t3G6Q/viewform">Networking Complaint</a>
        </h2>
        <!-- <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> Grievance Committee SC/ST
          Cell
        </h2> -->
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="/footerPages/anti-ragging-committee">Anti-Ragging Committee</a>
        </h2>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="/footerPages/internal-complaint-committee">Internal Complaint Committee</a>
        </h2>
        <div
          class="flex items-start my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i>
          <h2 class="">
          <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741527401/iiitn/sz4kbj6qpuc7u3ivjiu9.pdf" target="_blank">  Policy for Prevention of Sexual Harassment of Women at Workplace</a>
          </h2>
        </div>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="/footerPages/equal-opportunity-cell">Equal Opportunity Cell</a>
        </h2>
      </div>
      <div class="md:w-[25%] w-full">
        <h1 class="font-medium lg:text-[2vw] md:text-[2.5vw] text-[8vw]">
          Quick Links
        </h1>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Institute Webmail</a>
        </h2>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i><a href="/student/fees"> Online Fees Payment</a>
        </h2>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="/footerPages/academicCalender">Academic Calendar</a>
        </h2>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i>  <a href="/footerPages/campus-location">Campus Location</a>
        </h2>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="/others/tender">Tender</a>
        </h2>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="/admissions/recruitment">Recruitment</a>
        </h2>
        <h2
          class="my-4 text-gray-300 mb-2 lg:text-[1vw] md:text-[1.4vw] text-[4vw] leading-none"
        >
          <i class="ri-arrow-right-s-line"></i> <a href="/footerPages/guestHouse">Guest House</a>
        </h2>
      </div>
      <div class="md:w-[30%] w-full">
        <h1 class="font-medium lg:text-[2vw] md:text-[2.5vw] text-[8vw]">
          Contact Us
        </h1>
        <div class="flex items-center">
          <i
            class="lg:text-[1.5vw] md:text-[2vw] text-[6vw] pr-2 ri-phone-fill"
          ></i>
          <p
            class="text-gray-300 lg:text-[1vw] md:text-[1.5vw] text-[4vw] leading-none"
          >
            9405215010
          </p>
        </div>
        <div class="flex items-center">
          <i
            class="lg:text-[1.5vw] md:text-[2vw] text-[6vw] pr-2 ri-message-2-fill"
          ></i>
          <p
            class="text-gray-300 lg:text-[1vw] md:text-[1.5vw] text-[4vw] leading-none"
          >
            registrar@iiitn.ac.in
          </p>
        </div>
        <div class="flex mt-2">
          <a href="https://www.facebook.com/iiitnofficial/" target="_blank" aria-label="Facebook">
            <i class="lg:text-[2.5vw] md:text-[3.2vw] text-[10vw] pr-4 ri-facebook-box-fill"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCdABXietns2bXshI0nstH2A" target="_blank" aria-label="YouTube">
            <i class="lg:text-[2.5vw] md:text-[3.2vw] text-[10vw] pr-4 ri-youtube-fill"></i>
          </a>
          <a href="https://www.linkedin.com/in/iiitnofficial/" target="_blank" aria-label="LinkedIn">
            <i class="lg:text-[2.5vw] md:text-[3.2vw] text-[10vw] pr-4 ri-linkedin-box-fill"></i>
          </a>
          <a href="https://www.instagram.com/iiitnagpur/" target="_blank" aria-label="Instagram">
            <i class="lg:text-[2.5vw] md:text-[3.2vw] text-[10vw] pr-4 ri-instagram-line"></i>
          </a>
          <a href="https://twitter.com/IIITN_OFFICIAL" target="_blank" aria-label="Twitter">
            <i class="lg:text-[2.5vw] md:text-[3.2vw] text-[10vw] pr-4 ri-twitter-x-fill"></i>
          </a>
        </div>

        
        
      </div>
      <div id="map" class="h-[40vh] rounded"></div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiZGV2ZW5kcmFkaHV2YW4iLCJhIjoiY2x6YmttcWliMDFwdTJqcHZsYTY1dWl5dyJ9.Yb6KzLAw_DqrOiwxBJeFRg';
    const map = new mapboxgl.Map({
      container: 'map', 
      center: [79.026355, 20.951059], 
      zoom: 11,
      style: 'mapbox://styles/mapbox/streets-v12'
    });
      // IIIT Nagpur marker
      const iiitPopup = new mapboxgl.Popup({ offset: 25 })
        .setHTML('<div style="font-weight:bold;">IIIT Nagpur</div><p>Survey No. 140,141/1 behind Br. Sheshrao Wankhade Shetkari Sahkari Soot Girni, Village - Waranga, PO - Dongargaon (Butibori), Tahsil - Nagpur (Rural), District Nagpur</p>');

      const iiitEl = document.createElement('div');
      iiitEl.className = 'marker';
      iiitEl.style.backgroundImage = 'url(https://cdn-icons-png.flaticon.com/512/8074/8074794.png)';
      iiitEl.style.width = '34px';
      iiitEl.style.height = '34px';
      iiitEl.style.backgroundSize = 'contain';

      new mapboxgl.Marker(iiitEl)
        .setLngLat([79.0264, 20.9511])
        .setPopup(iiitPopup)
        .addTo(map);

      // Railway station marker
      const stationPopup = new mapboxgl.Popup({ offset: 25 })
        .setHTML('<div style="font-weight:bold;">Nagpur Railway Station</div>');

      const stationEl = document.createElement('div');
      stationEl.className = 'marker';
      stationEl.style.backgroundImage = 'url(https://cdn-icons-png.flaticon.com/512/724/724080.png)';
      stationEl.style.width = '32px';
      stationEl.style.height = '32px';
      stationEl.style.backgroundSize = 'contain';

      new mapboxgl.Marker(stationEl)
        .setLngLat([79.0882, 21.1523])
        .setPopup(stationPopup)
        .addTo(map);

      // Airport marker
      const airportPopup = new mapboxgl.Popup({ offset: 25 })
        .setHTML('<div style="font-weight:bold;">Dr. Babasaheb Ambedkar International Airport</div><p>International airport serving Nagpur.</p>');

      const airportEl = document.createElement('div');
      airportEl.className = 'marker';
      airportEl.style.backgroundImage = 'url(https://cdn-icons-png.flaticon.com/512/870/870143.png)';
      airportEl.style.width = '32px';
      airportEl.style.height = '32px';
      airportEl.style.backgroundSize = 'contain';

      new mapboxgl.Marker(airportEl)
        .setLngLat([79.0509, 21.0921])
        .setPopup(airportPopup)
        .addTo(map);

      // Bus stand marker
      const busStandPopup = new mapboxgl.Popup({ offset: 25 })
        .setHTML('<div style="font-weight:bold;">Nagpur Central Bus Stand</div><p>Major bus terminal in Nagpur.</p>');

      const busStandEl = document.createElement('div');
      busStandEl.className = 'marker';
      busStandEl.style.backgroundImage = 'url(https://cdn-icons-png.flaticon.com/512/1023/1023464.png)';
      busStandEl.style.width = '32px';
      busStandEl.style.height = '32px';
      busStandEl.style.backgroundSize = 'contain';

      new mapboxgl.Marker(busStandEl)
        .setLngLat([79.0806, 21.1498])
        .setPopup(busStandPopup)
        .addTo(map);

    // Fit bounds
    const bounds = new mapboxgl.LngLatBounds()
      .extend([79.0264, 20.9511])
      .extend([79.0889, 21.1534])
      .extend([79.0509, 21.0921])
      .extend([79.0836, 21.1520]);

    map.fitBounds(bounds, { padding: 70 });

</script>

    </div>
  </footer>

  <div class="w-full bg-white py-4 px-2">
    <p
      class="text-center text-black lg:text-[1vw] md:text-[1.8vw] text-[3.5vw]"
    >
      Copyright © 2025 | All Rights Reserved. Indian Institute of
      Information Technology, Nagpur. Powered By
      <span class="text-[#00457b]"><a target="_blank" href="https://rgvp.in/">RG-VP Web Solutions</a></span>
    </p>
  </div>