<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="description" content="Official website of Indian Institute of Information Technology, Nagpur. Explore academics, events, and admissions." />
    <meta name="keywords" content="IIIT Nagpur, Indian Institute of Information Technology, IIIT, Engineering, College, Admissions, Academics" />
    <meta name="author" content="Indian Institute of Information Technology, Nagpur" />

    <title>Indian Institute of Information Technology, Nagpur</title>
    
    <link rel="shortcut icon" href="../images/index/Favicon.ico" type="image/x-icon" />

    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="preconnect" href="https://unpkg.com" />
    
    <link rel="stylesheet" href="../stylesheets/style_2.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
