<nav
class="w-full banner lg:h-[100px] md:h-[80px] pl-4 py-[4px] flex items-center justify-between fixed top-0 left-0 z-[99] "
>
<div class="flex h-full items-center md:gap-4 gap-2">
  <img
    class="lg:h-32 md:h-28 h-20  -translate-y-2 md:translate-y-2 -translate-x-[10px] cursor-pointer"
    src="../images/logos/logobanner.webp"
    alt="" onclick="window.location.href='/'"
  />
  <div class="flex flex-col name">
    <div class="pt-2 overflow-hidden lg:h-[3vw] md:h-[5vw] h-[9vw]">
      <div class="text-container md:space-y-4 space-y-6">
        <h1
        class="leading-none title font-bold font-[font2] lg:text-[2vw] md:text-[3vw] text-[3vw] text-transparent tracking-tighter"
        >
        Indian Institute of Information Technology Nagpur
      </h1>
      <h1
      class="leading-none title font-bold font-[font2] lg:text-[2vw] md:text-[3vw] text-[3vw] text-transparent tracking-tighter"
      >
      भारतीय सूचना प्रौद्योगिकी संस्थान नागपुर
    </h1>
  <h1
  class="leading-none title font-bold font-[font2] lg:text-[2vw] md:text-[3vw] text-[3vw] text-transparent tracking-tighter"
  >
  Indian Institute of Information Technology Nagpur
</h1>
    </div>
    </div>
  </div>
</div>
<div class="icons2 flex gap-2">
  <form id="searchForm" class="search-form" action="/search" method="GET">
    <input type="text" name="q" placeholder="Search..." class="search-input" />
  </form>
  <!-- Search Icon -->
  <i id="searchIcon" class="ri-search-line icon text-[#fff] lg:text-[1.8vw] md:text-[3vw] my-[20px] md:mr-[20px]  mr-[10px] translate-x-[10px]"></i>
  <!-- Menu Icon -->
  <i class="ri-menu-line text-[#fff] lg:text-[1.8vw] md:text-[3vw] open my-[20px] mr-[20px] translate-x-[10px]"></i>
  
</div>

</nav>
<div
class="w-full overlay pl-4 py-[4px] items-center fixed top-0 left-0 z-[99] lg:h-[100px] md:h-[80px] bg-white text-[#00457b] uppercase md:flex hidden border-b-2 border-[#00508a]"
id="firstBox"
>
<img
class="lg:h-32 md:h-28 h-20  -translate-y-2 md:translate-y-2 -translate-x-[10px] cursor-pointer"
src="../images/logos/logobanner.webp"
alt="" onclick="window.location.href='/'"
/>
<div class="flex md:flex-row justify-evenly w-full ">
<a href="/aboutUs">  <h1
  class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
  data-menu="about"
>
  About Us
</h1></a>
  <h1
    class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="explore"
  >
    Explore
  </h1>
  <h1
    class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="governance"
  >
    Governance
  </h1>
  <a href="/department">
    <h1
    class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="department"
  >
    Department
  </h1>
  </a>
  <h1
    class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="admissions"
  >
    Admissions
  </h1>
  <h1
    class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="alumni"
  >
    Alumni
  </h1>
  <h1
    class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="placements"
  >
    Placements
  </h1>
  <h1
    class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="student"
  >
    Student
  </h1>
  <h1
    class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="nirf"
  >
    NIRF
  </h1>
  <h1
    class="menu-item lg:text-[1.2vw]  md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="others"
  >
    Others
  </h1>
</div>
<i
  class="ri-menu-line text-[#00457b] lg:text-[1.8vw] md:text-[3vw] close my-[20px] mr-[20px] -translate-x-[5px]"
></i>
</div>
<div
class="w-full h-screen pl-4 py-[3px] pb-20 fixed top-0 left-0 z-[999] lg:h-[100px] md:h-[80px] bg-[#00508a] text-white  md:hidden overflow-y-auto overlay2">
<div class="flex items-center md:gap-4 gap-2">
  <img
    class="lg:h-32 md:h-28 h-20  -translate-y-2 md:translate-y-2 -translate-x-[10px]"
    src="../images/logos/logobanner.webp"
    alt="" onclick="window.location.href='/'"
  />
  <div class="flex flex-col">
    <div class="pt-2 overflow-hidden lg:h-[3vw] md:h-[5vw] h-[8.5vw]">
      <div class=" space-y-4">
        <h1
        class="leading-none title font-bold font-[font2] lg:text-[2vw] md:text-[3vw] text-[3vw] text-white tracking-tighter"
        >
        Indian Institute of Information Technology, Nagpur
      </h1>
      <h1
      class="leading-none title font-bold font-[font2] lg:text-[2vw] md:text-[3vw] text-[3vw] text-white tracking-tighter"
      >
      भारतीय सूचना प्रौद्योगिकी संस्थान, नागपुर
    </h1>
  <h1
  class="leading-none title font-bold font-[font2] lg:text-[2vw] md:text-[3vw] text-[3vw] text-white tracking-tighter"
  >
  Indian Institute of Information Technology, Nagpur
</h1>
    </div>
    </div>
  </div>
  <div class="icons2 flex items-center gap-2">
    <form id="searchForm" class="search-form" action="/search" method="GET">
      <input type="text" name="q" placeholder="Search..." class="search-input" />
    </form>
    <!-- Search Icon -->
    <i id="searchIcon" class="ri-search-line icon text-[#fff] lg:text-[1.8vw] md:text-[3vw] my-[20px] md:mr-[20px]  mr-[10px] translate-x-[10px]"></i>
    <!-- Menu Icon -->
    <i class="ri-menu-line text-[#fff] lg:text-[1.8vw] md:text-[3vw] close2 my-[20px] mr-[20px] translate-x-[10px]"></i>
    
  </div>
</div>



<div class="flex flex-col w-full space-y-6 font-medium pt-4 pr-4 uppercase">
  <!-- About Us Accordion -->
  <div class="accordion-item">
 <a href="/aboutUs">
  <div class="flex justify-between items-center accordion-header cursor-pointer">
    <h1 class="text-[5vw]">About Us</h1>
    <i class="ri-add-line text-[6vw]"></i>
  </div>
 </a>
  </div>
  <!-- Explore Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Explore</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <!-- Technical Clubs -->
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border border-[#00457b]/20 py-2 px-2">
              <a href="#">Technical Clubs</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/dotslash">Dotslash</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/elevate">Elevate</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/cripsr">Crispr</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/udhyam">Udhyam</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/iotics">Iotics</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/strokes">Strokes</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/dimensions">Dimensions</a>
            </p>
          </div>
  
          <!-- Cultural Clubs -->
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border border-[#00457b]/20 py-2 px-2">
              <a href="#">Cultural Clubs</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/crescendo">Crescendo</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/dtraxia">Dtraxia</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/estoria">Estoria</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/orator">Orator</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/club/probe">Probe</a>
            </p>
          </div>
  
          <!-- Events -->
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border border-[#00457b]/20 py-2 px-2">
              <a href="#">Events</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/events/tantrafiesta">Tantrafiesta</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/events/abhivyakti">Abhivyakti</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border border-[#00457b]/20 py-2 px-2">
              <a href="/others/Kshitij">Kshitij</a>
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div> 
  <!-- Governance Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Governance</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="/governance/committee">Committee</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="/governance/board-of-governors">Board of Governors</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="/governance/finance-committee">Finance Committee</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="/governance/senate">Senate</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="/governance/building-works-committee">Building Works Committee</a>
            </p>
          </div>
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="governance/administration">Admintration</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="/governance/chairman">Chairman</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="/governance/director">Director</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="/governance/registrar">Registrar</a>
            </p>
            <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
              <a href="/governance/staff">Staff</a>
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- Department Accordion -->
  <div class="accordion-item">
   <a  href="/department">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Department</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
   </a>
  </div>
  <!-- Admissions Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Admissions</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/admissions/undergraduate-btech">Undergraduate B.Tech</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/admissions/postgraduate">Postgraduate</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/admissions/ug-academic-rule-book">UG Academic Rule Book</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/admissions/pg-academic-rule-book">PG Academic Rule Book</a>
      </p>
    </div>
  </div>
  <!-- Alumni Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Alumni</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/alumni/members">Members</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/alumni/member-login">Member Login</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/alumni/about-us">About Us</a>
      </p>
    </div>
  </div>
  <!-- Placements Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Placements</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/placements/about-us">About Us</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/placements/why-recruit-from-iiitn-nagpur">Why Recruit from IIITN Nagpur?</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/placements/placement-statistics">Placement Statistics</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/placements/for-companies">For Companies</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/placements/for-students">For Students</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/placements/contact-tp">Contact T&amp;P</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/placements/internships">Internships</a>
      </p>
    </div>
  </div>
  <!-- Student Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Student</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/student/activities">Activities</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/student/achievements">Achievements</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/student/clinical-counselling">Clinical Counselling</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/student/scholarships">Scholarships</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/student/hostel">Hostel</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/student/student-mess">Student Mess</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/student/download">Download</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/student/convocation-2023">Convocation 2023</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/student/fees">Fees</a>
      </p>
    </div>
  </div>
  <!-- NIRF Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">NIRF</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/nirf/nirf-2025">NIRF 2025</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/nirf/nirf2024">NIRF2024</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/nirf/nirf-2023">NIRF 2023</a>
      </p>
    </div>
  </div>
  <!-- Others Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Others</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/others/consultancy">Consultancy</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/others/institution-innovation-council">Institution Innovation Council</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/others/offcial-documents">Offcial Documents</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/others/electoral-literacy-club">Electoral Literacy Club</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/others/guest-house">Guest House</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/others/press-release">Press Release</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/others/tender">Tender</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/others/rti">RTI</a>
      </p>
      <p class="text-[4vw] bg-white text-[#00457b] border-[1px] border-[#00457b]/20 py-2 px-2">
        <a href="/others/recruitment">Recruitment</a>
      </p>
    </div>
  </div>
</div>

</div>
<!-- Sub-Menu (Second Box) -->
<div
id="secondBox"
class="lg:w-64 md:w-36 bg-white fixed left-0 z-[97] shadow-md shadow-black"
></div>
<div
id="secondBox2"
class="md:w-full bg-white fixed left-0 z-[97] shadow-md shadow-black"
></div>