<%- layout("admin/layout/boilerplate") %>

<div class="container-xl px-4 mt-5">
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">Department Research Management</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Areas of Specialization</h5>
                  <p class="card-text">
                    Manage faculty research specialization areas
                  </p>
                  <a
                    href="/admin/departmentResearch/areaOfSpecialization"
                    class="btn btn-primary"
                    >Manage</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Department Patents</h5>
                  <p class="card-text">
                    Manage department's faculty patents
                  </p>
                  <a
                    href="/admin/departmentResearch/patent"
                    class="btn btn-primary"
                    >Manage</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Department Publication</h5>
                  <p class="card-text">
                    Manage department Publication's
                  </p>
                  <a
                    href="/admin/departmentResearch/publication"
                    class="btn btn-primary"
                    >Manage</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Department Research Area</h5>
                  <p class="card-text">
                    Manage department Research Area
                  </p>
                  <a
                    href="/admin/departmentResearch/researchArea"
                    class="btn btn-primary"
                    >Manage</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Department Publication Area</h5>
                  <p class="card-text">
                    Manage department Publication Area
                  </p>
                  <a
                    href="/admin/departmentResearch/publicationArea"
                    class="btn btn-primary"
                    >Manage</a
                  >
                </div>
                <div class="card-body">
                  <h5 class="card-title">Department Research fields</h5>
                  <p class="card-text">
                    Manage department Research fields
                  </p>
                  <a
                    href="/admin/departmentResearch/researchField"
                    class="btn btn-primary"
                    >Manage</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
