<%- include('./partials/head2') %> 
  <body>
    <%- include('./partials/nav') %> 
    <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
      <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>
   

      <div class="mainContent w-full bg-zinc-100/30">
        <div
          class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5"
        >
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/aboutUs"
            >About us <i class="ri-arrow-right-s-line text-md"></i>
          </a>
        </div>
<div class="border-4 border-[#00457b] md:m-10 m-8 pb-10">
  
  <div class="content px-6 md:px-10 lg:px-44 mt-8 md:mt-16 ">
    <h2 class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">Act (PPP)</h2>
    <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
    <p class="text-sm md:text-base mt-5 font-normal">
      The Indian Institute of Information Technology (IIIT), Nagpur is one
      of the IIIT under the Indian Institute of Information Technology
      (Public-Private Partnership) Act, 2017.
    </p>
    <h5 class="text-sm md:text-base mt-5">
      For more details
      <a class="text-blue-800 underline" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741530522/iiitn/cbbxgqnpf4thigyavnfu.pdf" target="_blank">Click Here</a>
    </h5>
  </div>
  <div class="content px-6 md:px-10 lg:px-44 mt-8 md:mt-16">
    <h2 class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">Annual Report</h2>
    <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>

    <div class="overflow-x-auto mt-6">
        <table class="bg-white w-full border-collapse border border-gray-300">
            <thead class="bg-[#00457b] text-white">
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Year</th>
                    <th class="border border-gray-300 px-4 py-2">English</th>
                    <th class="border border-gray-300 px-4 py-2">Hindi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">2016-2017</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">2017-2018</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">2018-2019</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">2019-2020</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">2020-2021</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">2021-2022</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">2022-2023</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" class="text-blue-600 hover:underline font-medium">Link</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  <div class="content px-6 md:px-10 lg:px-44 mt-8 md:mt-16">
    <h2 class="text-xl md:text-2xl uppercase font-bold text-[#00457b]">Facilities</h2>
    <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
      <div class="container  flex flex-col mt-6 md:mt-8 w-full ">


         <div class="cards w-full flex flex-col md:flex-row items-start justify-between gap-6 md:gap-4 p-4 md:pl-0 ">
             <div class="cardContainer w-full md:w-72">
                  <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                      <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/DSCN1714.JPG" alt="">
                  </div>
                  <h1 class="text-md md:text-md capitalize font-bold mt-2">Academics Block</h1>
             </div>

             <div class="cardContainer w-full md:w-72">
                  <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                      <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/IIT16.jpg" alt="">
                  </div>
                  <h1 class="text-md md:text-md capitalize font-bold mt-2">Library</h1>
             </div>  
             <div class="cardContainer w-full md:w-72">
              <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                  <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/IIT20.jpg" alt="">
              </div>
              <h1 class="text-md md:text-md capitalize font-bold mt-2">Control System Lab</h1>
          </div>  
         </div>

         <div class="cards w-full flex flex-col md:flex-row items-start justify-between gap-6 md:gap-4 p-4 md:pl-0 ">
          <div class="cardContainer w-full md:w-72">
               <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                   <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/IIT17.jpg" alt="">
               </div>
               <h1 class="text-md md:text-md capitalize font-bold mt-2">Gym</h1>
          </div>
          <div class="cardContainer w-full md:w-72">
               <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                   <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/IIT18.jpg" alt="">
               </div>
               <h1 class="text-md md:text-md capitalize font-bold mt-2">Microprocessor Lab</h1>
          </div>  
          <div class="cardContainer w-full md:w-72">
            <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/IIT19.jpg" alt="">
            </div>
            <h1 class="text-md md:text-md capitalize font-bold mt-2">Control System Lab</h1>
        </div>
         </div>

          <div class="cards w-full flex flex-col md:flex-row items-start justify-between gap-6 md:gap-4 p-4 md:pl-0 ">
              <div class="cardContainer w-full md:w-72">
                  <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                      <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/IIT21.jpg" alt="">
                  </div>
                  <h1 class="text-md md:text-md capitalize font-bold mt-2">Computer Programming Lab</h1>
              </div>
              <div class="cardContainer w-full md:w-72">
                <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                    <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/IIT23.jpg" alt="">
                </div>
                <h1 class="text-md md:text-md capitalize font-bold mt-2">Data Structure & Algorithm Lab</h1>
            </div>

              <div class="cardContainer w-full md:w-72">
                  <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                      <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/IIT22.jpg" alt="">
                  </div>
                  <h1 class="text-md md:text-md capitalize font-bold mt-2">Database Lab</h1>
              </div>  
          </div>

          <div class="cards w-full flex flex-col md:flex-row items-start justify-between gap-6 md:gap-4 p-4 md:pl-0 ">
             
              <div class="cardContainer w-full md:w-72">
                  <div class="card overflow-hidden w-full p-1 border-2 border-[#00457b] rounded-md">
                      <img class="w-full h-auto object-cover object-center" src="https://iiitn.ac.in/images/facilities/IIT24.jpg" alt="">
                  </div>
                  <h1 class="text-md md:text-md capitalize font-bold mt-2">Nano SciTech Lab</h1>
              </div>  
          </div>

      </div>
  </div>
  <div class="content px-6 md:px-10 lg:px-44 mt-8 md:mt-16">
    <h2 class="text-xl md:text-2xl uppercase font-bold text-[#00457b]">Institute Profile</h2>
    <div class="w-full h-[1px] bg-[#00457b] mb-3 md:mb-5 mt-2"></div>
  <ol class="text-sm md:text-base pl-6 md:pl-10 text-[#00457b] list-[upper-alpha] space-y-6">
    <li>
      <span class="text-base md:text-lg font-semibold capitalize"
        >Institute Profile</span
      >
      <p class="text-sm md:text-base mt-5 font-normal">
        Indian Institute of Information Technology, Nagpur (IIITN) is
        one of the 20 Indian Institutes of Information Technology
        established under the Public-Private Partnership Scheme by the
        Ministry of Education (erstwhile Ministry of Human Resource
        Development), Government of India. IIITN has been declared as an
        “Institution of National Importance” under the provisions of the
        Indian Institute of Information Technology (Public-Private
        Partnership) Act, 2017. The Institute started functioning during
        the year 2016-17 and shifted to its Permanent Campus in Butibori
        Nagpur under the Department of Higher Education, Ministry of
        Education, and is supported by the Department of Higher
        Education, Government of Maharashtra, and Tata Consultancy
        Services, Mumbai as Industry Partner.
      </p>
    </li>
    <li>
      <span class="text-base md:text-lg font-semibold capitalize"
        >Institute's mandate</span
      >
      <p class="text-sm md:text-base mt-5 font-normal">
        One of the main objectives of the Institute is to develop
        competent and capable youth imbued with the spirit of innovation
        and entrepreneurship with the social and environmental
        orientation to meet the knowledge needs of the country and
        provide Global Leadership in Information Technology & Allied
        Fields.
      </p>
    </li>
    <li>
      <span class="text-base md:text-lg font-semibold capitalize"
        >Institute's vision</span
      >
      <p class="text-sm md:text-base mt-5 font-normal">
        The Institute aspires to attain the status of a top-notch
        Institution in Information Technology and Allied Fields and to
        emerge as an elite Research Institution by imparting futuristic
        quality education of Global Standards to corroborate the status
        of an “Institution of National Importance”.
      </p>
    </li>
    <li>
      <span class="text-base md:text-lg font-semibold capitalize"
        >Institute's mission</span
      >
      <p class="text-sm md:text-base mt-5 font-normal">
        To undertake socially relevant, industry-oriented In-House
        Research & Development Programmes as well as to undertake
        cutting-edge research through Public-Private Participation in
        Information Technology & Allied Fields. The Institute shall
        endeavor to develop innovation and entrepreneurship with social
        and environmental orientation.
      </p>
    </li>
  </ol>

  <div class="cards w-full py-6 md:py-8 flex flex-col md:flex-row items-center justify-center gap-6 md:gap-8">
    <div class="card overflow-hidden rounded-md border-2 border-zinc-100 h-48 md:h-64 w-full md:w-64 bg-red-400">
        <img class="w-full h-full object-cover object-center" src="https://iiitn.ac.in/images/gom.png" alt="img">
    </div>
    <div class="card overflow-hidden rounded-md border-2 border-zinc-100 h-48 md:h-64 w-full md:w-64 bg-red-400">
        <img class="w-full h-full object-cover object-center" src="https://iiitn.ac.in/images/Shikshamantralay2.jpg" alt="img">
    </div>
    <div class="card overflow-hidden rounded-md border-2 border-zinc-100 h-48 md:h-64 w-full md:w-64 bg-red-400">
        <img class="w-full h-full object-cover object-center" src="https://iiitn.ac.in/images/TCS.jpg" alt="img">
    </div>
  </div>  
 </div>
  <div class="content px-6 md:px-10 lg:px-44 mt-8 md:mt-16">
    <h2 class="text-xl md:text-2xl uppercase font-bold text-[#00457b]">MOU</h2>
    <div class="w-full h-[1px] bg-[#00457b] mb-4 md:mb-5 mt-2"></div>
    <ol class="text-base md:text-lg pl-6 md:pl-10 text-[#00457b] list-disc space-y-4 md:space-y-6">
      <li>
        <p class="text-sm md:text-base mt-5 font-normal">
          IIIT Nagpur signed the MoU with Swargiya Dadasaheb Kalmegh
          Smruti Dental College & Hospital,Wanadongari,Nagpur dated on
          28th June 2022.
        </p>
      </li>
      <li>
        <p class="text-sm md:text-base mt-5 font-normal">
          IIIT Nagpur Signed the MoU with Central India Institute of
          Medical Sciences (CIIMS), Nagpur on 5th January 2022
        </p>
      </li>
      <li>
        <p class="text-sm md:text-base mt-5 font-normal">
          IIIT Nagpur Signed the MoU with E-Spin Nanotech Pvt Ltd., IIT
          Kanpur on 27th January 2021
        </p>
      </li>
      <li>
        <p class="text-sm md:text-base mt-5 font-normal">
          MOU signed between Indian Institute of Information Technology,
          Nagpur and Datta Meghe Institute of Medical Sciences, Sawangi
          Meghe, Wardha on 13th March 2020 for Two years  2020
        </p>
      </li>
      <li>
        <p class="text-sm md:text-base mt-5 font-normal">
          IIIT Nagpur Signed the MoU with Advance Tech India Pvt. Ltd.,
          Punjab, India on 23rd December 2020. This MoU is to collaborate
          and do the innovation needed by the company by IIIT Nagpur
          students and faculties.
        </p>
      </li>
      <li>
        <p class="text-sm md:text-base mt-5 font-normal">MoU between AIIMS, Nagpur and IIIT, Nagpur  2020</p>
      </li>
      <li>
        <p class="text-sm md:text-base mt-5 font-normal">
          IIITN has signed an MOU with AIIMS, Nagpur for facilitating
          Research Collaboration and for undertaking need-based Projects.
          Under this MOU, Dr. Mayur Parate, Asst. Professor, Department of
          Electronics & Communication Engineering has already developed a
          device for effectively tracking & monitoring of the COVID-19
          Patients. (2020)
        </p>
      </li>
      <li>
        <p class="text-sm md:text-base mt-5 font-normal">
          IIITN has signed an MOU with IIM, Nagpur Foundation for
          Entrepreneurship Development (InFED) of Indian Institute of
          Management, Nagpur for exploration of new age digital/technical
          ideas, concepts, practices, products and services. (2020)
        </p>
      </li>
      <li>
        <p class="text-sm md:text-base mt-5 font-normal">
          IIITN has signed an MOU with Datta Meghe Institute of Medical
          Sciences, Sawangi Meghe, Wardha for facilitating Research
          Collaboration and for undertaking need-based Projects. (2020)
        </p>
      </li>
    </ol>
  </div>
  <div class="content px-6 md:px-10 lg:px-44 mt-8 md:mt-16">
    <h2 class="text-xl md:text-2xl uppercase font-bold text-[#00457b]">Status</h2>
    <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
    <p class="text-sm md:text-base mt-5 font-normal">
      The Indian Institute of Information Technology, Nagpur governs by
      the Statutes formulated by GoI.
    </p>
    <p class="text-sm md:text-base mt-5 font-normal">
      These Statutes may be called the Statutes of the Indian Institute of
      Information Technology, Nagpur, 2017.
    </p>
    <h5 class="text-sm md:text-base mt-5">
      For more details
      <a class="text-blue-800 underline" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741530537/iiitn/jwn6yjbh6cgd4e3wnhil.pdf" target="_blank">Click Here</a>
    </h5>
  </div>
</div>

      </div>
      </div>
    <%- include('./partials/footer') %> 
  </body>
  <%- include('./partials/tail2') %> 