<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
        <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>

      <div class="mainContent w-full bg-zinc-100/30">
        <div
          class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5"
        >
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/"
            >Placement <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
          class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
          href="/placements/internships"
          >Internships
        </a>
        </div>
        <div class="border-4 border-[#00457b]  md:m-10 m-8 pb-10">
          <div class="content px-4 md:px-10 lg:px-44 mt-8 md:mt-16">
            <h2 class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">
                Internships
            </h2>
            <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>

            <div class="max-w-4xl mx-auto md:md:p-6 p-2 p-2  mt-6">
                <h1 class="md:text-3xl text-xl font-bold text-center border-b pb-2">SUMMER / WINTER INTERNSHIP PROGRAM</h1>
                
                <section class="mt-4">
                    <h2 class="text-xl font-semibold">Objective:</h2>
                    <p class="mt-2 text-gray-700 md:text-xl text-sm">
                        This program is designed to give an educational and professional research experience to budding Engineers.
                        To provide an opportunity to B. Tech / B.E. / MSc. (Computer Science/Electronics & Communication/
                        Information Technology/Mathematics/Statistics) / MCA students from institutions across the nation to
                        facilitate their exposure to the research environment at IIIT Nagpur.
                    </p>
                </section>
                
                <section class="mt-4">
                    <h2 class="text-xl font-semibold">Details of the Internship Program:</h2>
                    <ul class="mt-2 space-y-2 list-[lower-alpha] list-inside md:text-xl text-sm">
                        <li>The internship program is intended to provide knowledge and deep learning under expert faculty supervision.</li>
                        <li>The candidate needs to decide the duration of the internship.</li>
                        <li>After joining, each candidate must submit:
                            <ul class="ml-6 list-[lower-roman]">
                                <li>Original bonafide certificate authorized by HoD/Principal/Supervisor.</li>
                                <li>Resume</li>
                                <li>Passport size photo</li>
                                <li>Payment Receipt along with Registration Form</li>
                            </ul>
                        </li>
                        <li>Candidates must abide by the rules and regulations of IIIT-N.</li>
                        <li>Project Report submission is mandatory for completion certificate.</li>
                        <li>Substantial research output is required (SCI/SCOPUS journal, software, or patent).</li>
                        <li>Technical skill and professional ethics demonstration is expected.</li>
                    </ul>
                </section>
                
                <section class="mt-6">
                    <h2 class="text-xl font-semibold">At IIIT Nagpur we run this program in the following two modes:</h2>
                    <ol class="mt-2 space-y-2 list-decimal list-inside">
                        <li><span class="font-bold">In campus Internship Program:</span>
                            <p class="mt-1 text-gray-700 md:text-xl text-sm">In this program, the students need to be physically present in the institute premises and have to undergo the given assignment and the project under the supervision of the expert. Required Training and Guidance on the selected project will be provided. Also, access to the needed computational & Library resources will be provided.</p>
                        </li>
                        <li><span class="font-bold">Online Internship Program:</span>
                            <p class="mt-1 text-gray-700 md:text-xl text-sm">In this program, the students need not be physically present in the institute premises and have to undergo the given assignment and the project under the supervision of the expert through online mode. Required Training and Guidance on the selected project will be provided.</p>
                        </li>
                    </ol>
                </section>
                
                <section class="mt-6">
                    <h2 class="text-xl font-semibold">How to Apply:</h2>
                    <p class="mt-2 text-gray-700 md:text-xl text-sm">Students should directly apply to the faculty member <span class="font-bold">only on their email id</span> by sending a latest Resume or CV (indicating the Grades and Technical skills) mentioning the subject in the mail <span class="font-bold">"Request for Six/Two months internship at IIIT Nagpur"</span>.</p>
                    <p class="mt-2 text-gray-700 md:text-xl text-sm">A student can choose the area/subject of internship and the faculty supervisor from the following:</p>
                </section>
            </div>

            <div class="container max-w-4xl mt-12 mx-auto">
               <div class="w-full">
                <h1 class="text-2xl font-bold text-center text-red-600 mb-4">Computer Science & Engineering Department</h1>
                <div class="overflow-x-auto  md:p-4 p-[4px] ">
                    <table class="min-w-full bg-white border border-gray-300 lg:text-[1vw] md:text-[1.5vw] text-[2vw]">
                        <thead class="bg-gray-200">
                            <tr>
                                <th class="border p-2">S. No.</th>
                                <th class="border p-2">Name of the Faculty</th>
                                <th class="border p-2">Email</th>
                                <th class="border p-2">Area of Expertise</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">1</td>
                                <td class="border p-2">Dr. Tausif Diwan</td>
                                <td class="border p-2">tdiwan@iiitn.ac.in</td>
                                <td class="border p-2">Deep Learning</td>
                            </tr>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">2</td>
                                <td class="border p-2">Dr. Jitendra Tembhurne</td>
                                <td class="border p-2">jtembhurne@iiitn.ac.in</td>
                                <td class="border p-2">Quantum Computing, Parallel Computing, Machine/Deep Learning, Data Mining, Computer Vision, Biomedical Imaging, Cryptography & Security</td>
                            </tr>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">3</td>
                                <td class="border p-2">Dr. Pooja Jain</td>
                                <td class="border p-2">poojajain@iiitn.ac.in</td>
                                <td class="border p-2">NLP, ML</td>
                            </tr>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">4</td>
                                <td class="border p-2">Dr. Richa Makhijani</td>
                                <td class="border p-2">richa.makhijani@iiitn.ac.in</td>
                                <td class="border p-2">Bioinformatics, Data Analysis</td>
                            </tr>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">5</td>
                                <td class="border p-2">Dr. Nishat Ansari</td>
                                <td class="border p-2">nishat.ansari@iiitn.ac.in</td>
                                <td class="border p-2">Wireless Sensor Networks, Artificial Intelligence, Machine Learning</td>
                            </tr>
                            <!-- Add remaining faculty members here -->
                        </tbody>
                    </table>
                </div>
               </div>
               <div class="w-full">
                <h1 class="text-2xl font-bold text-center text-red-600 mb-4">Electronics & Communication Engineering </h1>
                <div class="overflow-x-auto  md:p-4 p-[4px] ">
                    <table class="min-w-full bg-white border border-gray-300 lg:text-[1vw] md:text-[1.5vw] text-[2vw]">
                        <thead class="bg-gray-200">
                            <tr>
                                <th class="border p-2">S. No.</th>
                                <th class="border p-2">Name of the Faculty</th>
                                <th class="border p-2">Email</th>
                                <th class="border p-2">Area of Expertise</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">1</td>
                                <td class="border p-2">Dr. Tausif Diwan</td>
                                <td class="border p-2">tdiwan@iiitn.ac.in</td>
                                <td class="border p-2">Deep Learning</td>
                            </tr>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">2</td>
                                <td class="border p-2">Dr. Jitendra Tembhurne</td>
                                <td class="border p-2">jtembhurne@iiitn.ac.in</td>
                                <td class="border p-2">Quantum Computing, Parallel Computing, Machine/Deep Learning, Data Mining, Computer Vision, Biomedical Imaging, Cryptography & Security</td>
                            </tr>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">3</td>
                                <td class="border p-2">Dr. Pooja Jain</td>
                                <td class="border p-2">poojajain@iiitn.ac.in</td>
                                <td class="border p-2">NLP, ML</td>
                            </tr>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">4</td>
                                <td class="border p-2">Dr. Richa Makhijani</td>
                                <td class="border p-2">richa.makhijani@iiitn.ac.in</td>
                                <td class="border p-2">Bioinformatics, Data Analysis</td>
                            </tr>
                            <tr class="hover:bg-gray-100">
                                <td class="border p-2">5</td>
                                <td class="border p-2">Dr. Nishat Ansari</td>
                                <td class="border p-2">nishat.ansari@iiitn.ac.in</td>
                                <td class="border p-2">Wireless Sensor Networks, Artificial Intelligence, Machine Learning</td>
                            </tr>
                            <!-- Add remaining faculty members here -->
                        </tbody>
                    </table>
                </div>
               </div>
            </div>


            <div class="max-w-4xl mx-auto md:p-6 p-2 mt-5"> 
                <p class="mb-4 md:text-xl text-sm">After getting the consent from the faculty, students are required to forward the internship joining application form along with the registration form (in the prescribed format) and the details of the fee payment to the Internship Cell and admin office at email ids: 
                    <a href="mailto:oaaccounts@iiitn.ac.in" class="text-blue-500">oaaccounts@iiitn.ac.in</a> and 
                    <a href="mailto:internships@iiitn.ac.in" class="text-blue-500">internships@iiitn.ac.in</a>.
                </p>
        
                <p class="mb-6 font-semibold md:text-xl text-sm">The registration fee should be deposited only after the selection confirmation from the supervisor.</p>
        
                <h2 class="text-2xl font-semibold mb-2">Selection Process:</h2>
                <ul class="list-disc pl-6 mb-6 md:text-xl text-sm">
                    <li>The respective faculty may take the telephonic or web-based interview for the selection of students.</li>
                    <li>The selection of students is the sole responsibility of faculty members offering internships after testing and verifying the grades and technical skills.</li>
                    <li>Applying to the internship does not guarantee the selection of students.</li>
                </ul>
                
                <h2 class="text-2xl font-semibold mb-2">Eligibility for Internship:</h2>
                <p class="mb-4 md:text-xl text-sm">Any students who are pursuing B. Tech / B. E. / M. Tech / M.Sc. in Computer Science / Electronics & Communication Engineering / Information Technology.</p>
                <p class="mb-6 font-semibold md:text-xl text-sm">*For Undergraduate students, he/she must have cleared the first 2 semesters of B.E. / B. Tech.</p>
                
                <h2 class="text-2xl font-semibold mb-2">Duration of Internship:</h2>
                <p class="mb-4 md:text-xl text-sm">The duration of the Internship will be either 2 months or 6 months.</p>
                <p class="mb-6 md:text-xl text-sm">If required, the duration of 2 months Internship can be extended to six months with the recommendation of the supervisor and the approval of the competent authority. In that case, the student needs to pay the difference amount for further extension.</p>
                
                <h2 class="text-2xl font-semibold mb-2">Mode of Internship: <span class="font-normal">Both Online and Offline</span></h2>
                
                <h3 class="text-xl font-semibold mt-4 mb-2">For OFFLINE Internship:</h3>
                <ul class="list-disc pl-6 mb-6 md:text-xl text-sm">
                    <li>Accommodation may be provided upon availability.</li>
                    <li>Accommodation and Mess charges are applicable other than the registration fees.</li>
                    <li>The charges for accommodation and mess will be as per Institute Policy and Norms.</li>
                </ul>
            </div>


            <div class="mmax-w-4xl mx-auto  md:p-6 p-2 ">
                <h2 class="text-2xl font-bold mb-4">Registration Fee:</h2>
                <div class="overflow-x-auto">
                    <table class="w-full bg-white border-collapse border border-gray-300 lg:text-[1vw] md:text-[1.5vw] text-[2vw]">
                        <thead>
                            <tr class="bg-gray-200 ">
                                <th class="border md:p-2 p-[4px]">Mode</th>
                                <th class="border md:p-2 p-[4px]">Duration</th>
                                <th class="border md:p-2 p-[4px]">Online (2 Months)</th>
                                <th class="border md:p-2 p-[4px]">Online (6 Months)</th>
                                <th class="border md:p-2 p-[4px]">Offline (2 Months)</th>
                                <th class="border md:p-2 p-[4px]">Offline (6 Months)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border md:p-2 p-[4px]" rowspan="2">Registration Fees</td>
                                <td class="border md:p-2 p-[4px]">Fees</td>
                                <td class="border md:p-2 p-[4px]">Rs. 4000/-</td>
                                <td class="border md:p-2 p-[4px]">Rs. 10,000/-</td>
                                <td class="border md:p-2 p-[4px]">Rs. 5000/-</td>
                                <td class="border md:p-2 p-[4px]">Rs. 12,000/-</td>
                            </tr>
                            <tr>
                                <td class="border md:p-2 p-[4px]">GST (18%)</td>
                                <td class="border md:p-2 p-[4px]">Rs. 720/-</td>
                                <td class="border md:p-2 p-[4px]">Rs. 1800/-</td>
                                <td class="border md:p-2 p-[4px]">Rs. 900/-</td>
                                <td class="border md:p-2 p-[4px]">Rs. 2160/-</td>
                            </tr>
                            <tr class="bg-gray-200 font-bold">
                                <td class="border md:p-2 p-[4px]" colspan="2">Total Payable</td>
                                <td class="border md:p-2 p-[4px]">Rs. 4720/-</td>
                                <td class="border md:p-2 p-[4px]">Rs. 11,800/-</td>
                                <td class="border md:p-2 p-[4px]">Rs. 5900/-</td>
                                <td class="border md:p-2 p-[4px]">Rs. 14,160/-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <p class="text-sm text-gray-600 mt-4">NOTE: No charges are applicable to the students of IIITN.</p>
                
                <h2 class="text-2xl font-bold mt-6">Bank Details for Fee Payment:</h2>
                <p class="text-gray-700 md:text-xl text-sm">Fees need to be paid by NEFT/RTGS/IMPS in the following bank account:</p>
                
                <div class="mt-4 border border-gray-300 p-4 rounded-lg bg-gray-50 md:text-xl text-sm">
                    <p><strong>Name of the Bank Account:</strong> Indian Institute of Information Technology, Nagpur General</p>
                    <p><strong>Account Number:</strong> 41759739179</p>
                    <p><strong>Type of the Account:</strong> SAVINGS</p>
                    <p><strong>Name of the Bank:</strong> State Bank of India</p>
                    <p><strong>Branch:</strong> VRCE Branch, South Ambazari Road, VNIT, Nagpur - 440011</p>
                    <p><strong>Bank Code:</strong> 06702</p>
                    <p><strong>IFSC Code:</strong> SBIN0006702</p>
                    <p><strong>MICR Code:</strong> 440002005</p>
                </div>
                <div class="mt-5 pl-4">
                    <h2 class="text-2xl font-semibold text-gray-700 ">Format Internship Registration Form and Report:</h2>
                    <ul class="list-decimal pl-5 md:text-xl text-sm mt-3 text-gray-600">
                        <li>Internship Application Form <a href="#" class="hover:underline text-sky-800">Download</a></li>
                        <li>Internship Joining Application <a href="#" class="hover:underline text-sky-800">Download</a></li>
                        <li>Internship Report Guidelines <a href="#" class="hover:underline text-sky-800">Download</a></li>
                        <li>Internship Evaluation Form <a href="#" class="hover:underline text-sky-800">Download</a></li>
                    </ul>
                </div>
            </div>



          </div>

        
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 