<nav
class="w-full banner lg:h-[100px] md:h-[80px] px-4 py-[4px] flex items-center justify-between fixed top-0 left-0 z-[998] "
pb-4>
<div class="flex h-full items-center gap-4">
  <img
    class="lg:h-full h-12 object-cover"
    src="../images/logos/Logo1.svg"
    alt="" onclick="window.location.href='/'"
  />
  <div class="flex flex-col">
    <div class="pt-2 overflow-hidden lg:h-[3vw] md:h-[5vw] h-[7vw]">
      <div class="text-container space-y-4">
        <h1
        class="leading-none title font-bold font-[font2] lg:text-[2vw] md:text-[3vw] text-[3vw] text-[#393E46] tracking-tighter"
        >
        Indian Institute of Information Technology, Nagpur
      </h1>
      <h1
      class="leading-none title font-bold font-[font2] lg:text-[2vw] md:text-[3vw] text-[3vw] text-[#393E46] tracking-tighter"
      >
      भारतीय सूचना प्रौद्योगिकी संस्थान, नागपुर
    </h1>
  <h1
  class="leading-none title font-bold font-[font2] lg:text-[2vw] md:text-[3vw] text-[3vw] text-[#393E46] tracking-tighter"
  >
  Indian Institute of Information Technology, Nagpur
</h1>
    </div>
    </div>
    <h1
      class="leading-none tracking-tighter text-[#393E46] lg:text-[1vw] md:text-[1.5vw] text-[2.5vw]"
    >
      An Institution of National Importance By An Act of Parliament
    </h1>
  </div>
</div>
<i
  class="ri-menu-line text-[#393E46] lg:text-[1.8vw] md:text-[3vw] open my-[20px] mr-[20px] translate-x-[10px]"
></i>
</nav>
<div
class="w-full overlay pl-4 py-[4px] items-center fixed top-0 left-0 z-[999] lg:h-[100px] md:h-[80px] bg-[#F2E7D5] text-[#393E46] uppercase md:flex hidden border-b-2 border-[#393E46]"
id="firstBox"
>
<img
  class="lg:h-full h-12 object-cover"
  src="../images/logos/Logo1.svg"
  alt="Logo" onclick="window.location.href='/'"
/>
<div class="flex md:flex-row justify-evenly w-full font-medium">
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="about"
  >
    About Us
  </h1>
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="explore"
  >
    Explore
  </h1>
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="governance"
  >
    Governance
  </h1>
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="department"
  >
    Department
  </h1>
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="admissions"
  >
    Admissions
  </h1>
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="alumni"
  >
    Alumni
  </h1>
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="placements"
  >
    Placements
  </h1>
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="student"
  >
    Student
  </h1>
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="nirf"
  >
    NIRF
  </h1>
  <h1
    class="menu-item lg:text-[1vw] md:text-[1.5vw] text-[1.5vw] cursor-pointer"
    data-menu="others"
  >
    Others
  </h1>
</div>
<i
  class="ri-menu-line text-[#393E46] lg:text-[1.8vw] md:text-[3vw] close my-[20px] mr-[20px] -translate-x-[5px]"
></i>
</div>
<div
class="w-full h-screen pl-4 py-[3px] pb-20 fixed top-0 left-0 z-[999] lg:h-[100px] md:h-[80px] bg-[#393E46] text-white  md:hidden overflow-y-auto overlay2">
<div class="flex justify-between items-center">
  <img
    class="lg:h-full h-12 object-cover"
    src="../images/logos/Logo1.svg"
    alt="Logo" onclick="window.location.href='/'"
  />
  <div class="flex flex-col mx-4">
    <div class="pt-2">
      <h1
        class="leading-none title font-bold font-[font2] text-[3.2vw] text-white tracking-tighter"
      >
        Indian Institute of Information Technology, Nagpur
      </h1>
    </div>
    <h1
      class="leading-none tracking-tighter text-[#001F3F] text-[2.5vw]"
    >
      An Institution of National Importance By An Act of Parliament
    </h1>
  </div>
  <i
    class="ri-menu-line text-white lg:text-[1.8vw] md:text-[3vw] close2 my-[20px] mr-[20px] -translate-x-[5px]"
  ></i>
</div>
<div class="flex flex-col w-full space-y-6 font-medium pt-4 pr-4 uppercase">
  <!-- About Us Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">About Us</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/aboutUs/Act">Act (PPP)</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/aboutUs/Status">Statute</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/aboutUs/institute">Institute Profile</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/aboutUs/Facilities">Facilities</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/aboutUs/Annual">Annual Report</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/aboutUs/MOU">MoU</a>
      </p>
    </div>
  </div>
  <!-- Explore Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Explore</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <!-- Technical Clubs -->
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border border-[#393E46]/20 py-2 px-2">
              <a href="#">Technical Clubs</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/dotslash">Dotslash</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/elevate">Elevate</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/cripsr">Crispr</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/udhyam">Udhyam</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/iotics">Iotics</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/strokes">Strokes</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/dimensions">Dimensions</a>
            </p>
          </div>
  
          <!-- Cultural Clubs -->
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border border-[#393E46]/20 py-2 px-2">
              <a href="#">Cultural Clubs</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/crescendo">Crescendo</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/dtraxia">Dtraxia</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/estoria">Estoria</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/orator">Orator</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/probe">Probe</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/clubs/eklavya">Eklavya</a>
            </p>
          </div>
  
          <!-- Events -->
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border border-[#393E46]/20 py-2 px-2">
              <a href="#">Events</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/events/tantrafiesta">Tantrafiesta</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/events/abhivyakti">Abhivyakti</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border border-[#393E46]/20 py-2 px-2">
              <a href="/events/kshitij">Kshitij</a>
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div> 
  <!-- Governance Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Governance</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/governance/committee">Committee</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/governance/board-of-governors">Board of Governors</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/governance/finance-committee">Finance Committee</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/governance/senate">Senate</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/governance/building-works-committee">Building Works Committee</a>
            </p>
          </div>
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="governance/administration">Admintration</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/governance/chairman">Chairman</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/governance/director">Director</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/governance/registrar">Registrar</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/governance/staff">Staff</a>
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- Department Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Department</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science">Basic Sciences</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science/about-department">About Department</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science/bos">BoS</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science/achievements">Achievements</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science/research">Research</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science/faculty">Faculty</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science/staff">Staff</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science/projects">Projects</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science/laboratory">Laboratory</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/basic-science/events">Events</a>
            </p>
          </div>
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng">Computer Science & Eng...</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng/about-department">About Department</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng/bos">BoS</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng/achievements">Achievements</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng/research">Research</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng/faculty">Faculty</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng/staff">Staff</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng/projects">Projects</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng/laboratory">Laboratory</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/computer-science-eng/events">Events</a>
            </p>
          </div>
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng">Electronics & Communication Eng...</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng/about-department">About Department</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng/bos">BoS</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng/achievements">Achievements</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng/research">Research</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng/faculty">Faculty</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng/staff">Staff</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng/projects">Projects</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng/laboratory">Laboratory</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/electronics-communication-eng/events">Events</a>
            </p>
          </div>
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/doctoral-programme">Doctoral Programme</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/doctoral-programme/overview">Overview of PhD Programmee</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/doctoral-programme/features">Doctoral Programme Features</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/doctoral-programme/research-areas">Research Areas</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/doctoral-programme/operational-details">Operational Details</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/doctoral-programme/proformas">Important Proformas</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/doctoral-programme/checklists">Checklists</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/doctoral-programme/contact-us">Contact Us</a>
            </p>
          </div>
          <div class="swiper-slide">
            <p class="text-[4vw] bg-[#CF5A24] text-white border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/programs">Programs</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/programs/btech">B.Tech</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/programs/pg-diploma">PG Diploma</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/programs/phd">PHD</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/programs/mtech">M.Tech</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/programs/curriculum">Curriculum</a>
            </p>
            <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
              <a href="/department/programs/reports">Reports</a>
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- Admissions Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Admissions</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/admissions/undergraduate-btech">Undergraduate B.Tech</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/admissions/postgraduate">Postgraduate</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/admissions/ug-academic-rule-book">UG Academic Rule Book</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/admissions/pg-academic-rule-book">PG Academic Rule Book</a>
      </p>
    </div>
  </div>
  <!-- Alumni Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Alumni</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/alumni/members">Members</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/alumni/member-login">Member Login</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/alumni/about-us">About Us</a>
      </p>
    </div>
  </div>
  <!-- Placements Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Placements</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/placements/about-us">About Us</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/placements/why-recruit-from-iiitn-nagpur">Why Recruit from IIITN Nagpur?</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/placements/placement-statistics">Placement Statistics</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/placements/for-companies">For Companies</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/placements/for-students">For Students</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/placements/contact-tp">Contact T&amp;P</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/placements/internships">Internships</a>
      </p>
    </div>
  </div>
  <!-- Student Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Student</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/student/activities">Activities</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/student/achievements">Achievements</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/student/clinical-counselling">Clinical Counselling</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/student/scholarships">Scholarships</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/student/hostel">Hostel</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/student/student-mess">Student Mess</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/student/download">Download</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/student/convocation-2023">Convocation 2023</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/student/fess">Fess</a>
      </p>
    </div>
  </div>
  <!-- NIRF Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">NIRF</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/nirf/nirf-2025">NIRF 2025</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/nirf/nirf2024">NIRF2024</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/nirf/nirf-2023">NIRF 2023</a>
      </p>
    </div>
  </div>
  <!-- Others Accordion -->
  <div class="accordion-item">
    <div class="flex justify-between items-center accordion-header cursor-pointer">
      <h1 class="text-[5vw]">Others</h1>
      <i class="ri-add-line text-[6vw]"></i>
    </div>
    <div class="accordion-content">
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/others/consultancy">Consultancy</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/others/institution-innovation-council">Institution Innovation Council</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/others/offcial-documents">Offcial Documents</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/others/electoral-literacy-club">Electoral Literacy Club</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/others/guest-house">Guest House</a>
      </p>
      <p class="text-[4vw] bg-white text-[#393E46] border-[1px] border-[#393E46]/20 py-2 px-2">
        <a href="/others/press-release">Press Release</a>
      </p>
    </div>
  </div>
</div>

</div>
<!-- Sub-Menu (Second Box) -->
<div
id="secondBox"
class="lg:w-64 md:w-36 bg-white fixed left-0 z-[999] shadow-md shadow-black"
></div>
<div
id="secondBox2"
class="md:w-full bg-white fixed left-0 z-[999] shadow-md shadow-black"
></div>