<%- include('../partials/head2') %>

    <body>
        <%- include('../partials/nav') %>
    <div class=" bgin w-full bg-white text-[#00457b]">
      <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>

      <div class="mainContent w-full bg-zinc-100/30">
        <div
          class="routes w-full px-6 md:px-20 lg:md:px-44 px-2 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5"
        >
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="#"
            >RTI Reports <i class="ri-arrow-right-s-line text-md"></i>
          </a>
        </div>
        <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10">
          <div class="content px-6 md:px-10 lg:md:px-44 px-2 mt-8 md:mt-16">
            <h2 class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">
                RTI Reports
            </h2>
            <div class="container lg:mt-8 mt-6 mx-auto">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-white border border-gray-300 lg:text-[1vw] md:text-[1.5vw] text-[2vw]">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="border md:px-4 px-2 py-2 text-[#00457b] font-bold">Year</th>
                                <th class="border md:px-4 px-2 py-2 text-[#00457b] font-bold">Quarterly 1</th>
                                <th class="border md:px-4 px-2 py-2 text-[#00457b] font-bold">Quarterly 2</th>
                                <th class="border md:px-4 px-2 py-2 text-[#00457b] font-bold">Quarterly 3</th>
                                <th class="border md:px-4 px-2 py-2 text-[#00457b] font-bold">Quarterly 4</th>
                            </tr>
                        </thead>
                        <tbody class="text-zinc-800">
                            <tr class="text-center">
                                <td class="border md:px-4 px-2 py-2 font-bold">2017-2018</td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                            </tr>
                            <tr class="text-center">
                                <td class="border md:px-4 px-2 py-2 font-bold">2018-2019</td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                            </tr>
                            <tr class="text-center">
                                <td class="border md:px-4 px-2 py-2 font-bold">2019-2020</td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                            </tr>
                            <tr class="text-center">
                                <td class="border md:px-4 px-2 py-2 font-bold">2020-2021</td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                            </tr>
                            <tr class="text-center">
                                <td class="border md:px-4 px-2 py-2 font-bold">2021-2022</td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                            </tr>
                            <tr class="text-center">
                                <td class="border md:px-4 px-2 py-2 font-bold">2022-2023</td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                            </tr>
                            <tr class="text-center">
                                <td class="border md:px-4 px-2 py-2 font-bold">2023-2024</td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                                <td class="border md:px-4 px-2 py-2"><a href="#" class="text-blue-500 hover:underline">Link</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
  <%- include('../partials/tail2') %>