<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
      <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>
      <div class="mainContent w-full">
        <div
        class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gamd:p-4 p-[4px] bg-[#00457b] py-3 md:py-5">
        <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
        </a>
        <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/cse/aboutDepartment">Computer Science & Eng... <i class="ri-arrow-right-s-line text-md"></i>
        </a>
        <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="#">Laboratory <i class="ri-arrow-right-s-line text-md"></i>
        </a>
    </div>
        <div class="content bg-white px-10 mt-16 mb-10">
          <h2 class="text-2xl uppercase font-bold text-black">
            Laboratory
          </h2>
          <div class="w-full h-[1px] bg-zinc-300 mt-2"></div>
         
          <div class="w-full bg-white p-4">
            <p class="mt-4 ">
                Indian Institute of Information Technology, Nagpur offers an outstanding Computer Lab, which provides students access to computer software for both Academics and Research.
            </p>
            <p class="mt-4 ">
                In the institute, more than 420 desktops are placed and divided into different labs. These desktops in the labs run on a 150 KVA UPS plus DG supply that is available 24x7. All the desktops in the computer labs are connected with a 1024 Mbps Wireless network and the Internet and also have a backup connection running in failover mode.
            </p>
            <p class="mt-4 ">
                The Computer Lab is equipped with modern and automated equipment in an air-conditioned environment. Additionally, students will be provided access to a Campus-Network, which can be accessed from the Computer Lab or from personal Laptops, Tablets, and Mobiles.
            </p>
          </div>



          <div class="max-w-6xl mx-auto bg-white p-6">
            <h1 class="text-2xl font-bold text-center mb-4">Department of Computer Science and Engineering - Labs</h1>
            <div class="overflow-x-auto">
                <table class="w-full border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border p-2">S. No.</th>
                            <th class="border p-2">Lab Name</th>
                            <th class="border p-2">Software</th>
                            <th class="border p-2">Hardware</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td class="border p-2">1</td>
                            <td class="border p-2">Databases & Data Cluster Lab</td>
                            <td rowspan="11" class="border p-2 text-left">
                                <ul class="list-disc pl-4">
                                    <li>Microsoft Visual Studio Code 1.75</li>
                                    <li>WPS Office (12.2.0.13431)</li>
                                    <li>WinRAR 6.10</li>
                                    <li>Code Blocks 20.03</li>
                                    <li>Oracle VM Virtual Box 7.0.10</li>
                                    <li>Python 3.10.8 (64Bit)</li>
                                    <li>Java 8.0.2</li>
                                    <li>Packet Racer</li>
                                    <li>Anaconda 3 2022.10 (Python 3.9.13 64Bit)</li>
                                    <li>Android Studio 2023.2</li>
                                    <li>Dev C++ 5.0 (4.9.9.2)</li>
                                    <li>MySQL Workbench 8.0</li>
                                </ul>
                            </td>
                            <td rowspan="5" class="border p-2">Machines: 283 <br> 32 GB RAM, i7 Processor</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">2</td>
                            <td class="border p-2">Project Lab</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">3</td>
                            <td class="border p-2">Programming & Data Structure Lab</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">4</td>
                            <td class="border p-2">Computer Networking Lab</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">5</td>
                            <td class="border p-2">Distributed & Cloud Computing Lab</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">6</td>
                            <td class="border p-2">Artificial Intelligence & Machine Learning Lab</td>
                            <td rowspan="6" class="border p-2">Machines: 137 <br> GPU machines Nvidia RTX 4000, 4GB</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">7</td>
                            <td class="border p-2">Data Science & Big Data Lab</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">8</td>
                            <td class="border p-2">High Performance Computing & Bioinformatics Lab</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">9</td>
                            <td class="border p-2">Computer Programming Lab</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">10</td>
                            <td class="border p-2">Algorithm Design Lab</td>
                        </tr>
                        <tr class="text-center">
                            <td class="border p-2">11</td>
                            <td class="border p-2">Operating Systems Lab</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-gray-200 font-semibold">
                            <td colspan="3" class="border p-2 text-right">Total Machines:</td>
                            <td class="border p-2">420</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 