<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 

    <div class="w-full lg:h-[100px] md:h-[70px] h-[60px]"></div>
    <div class="bg-stone-200 pb-8">
      
        <!-- Header -->
    <section class="relative bg-stone-200  h-[300px] md:h-[350px] lg:h-[400px] bg-cover bg-center bg-no-repeat clip-right-slant"
    style="background-image: url('https://images.trinitylaban.ac.uk/uploads/2024/09/3.-Stretch_PH-Rachel-Cherry-scaled-1-aspect-ratio-16-9-1.jpg');">
    <div class="absolute inset-0 bg-black/70"></div>
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-white text-center px-6">
        <h2 class="text-5xl md:text-8xl font-bold text-glow">D-TARAXIA</h2>
    </div>
</section>

<!-- Description Section -->
<section class="flex flex-col md:flex-row items-center justify-center bg-stone-200 px-[4vw] py-[4vw] lg:ml-20 lg:ml-40 lg:-mt-[2vw]">
<!-- About Us Box -->
<div class="w-full sm:w-[45vh] md:w-[40vw] lg:w-[30vw] min-h-[20vw] 
text-left border border-gray-300 shadow-lg rounded-md p-[3vw] 
flex flex-col justify-between overflow-hidden bg-stone-200 ">

<h3 class="text-[5vw] md:text-[2.5vw] lg:text-[1.75vw] text-gray-800 pt-[1vw]">
D-Taraxia: Dance with Passion
</h3>

<p class="mt-[2vw] md:mt-[1vw] text-gray-700 text-[2vw] md:text-[1.5vw] lg:text-[1vw] leading-tight">
Dtaraxia, the vibrant dance club of IIIT Nagpur, is a hub for passionate dancers who express themselves through movement. 
From energetic hip-hop to graceful classical performances, the club brings rhythm and creativity to campus life. 
With regular workshops, performances, and inter-college competitions, Dtaraxia fosters talent, teamwork, and a love for dance.
</p>

</div>


    <!-- Image Box -->
    <div class="w-full md:w-[50vw] flex justify-center relative mt-[4vw] md:mt-0">
        <div class="relative flex justify-center items-center">
            <div class="absolute top-[1vw] left-[1vw] w-[calc(100%+0.5vw)] h-[calc(100%+0.5vw)] border-[0.35vw]"
                style="border-color: rgba(207, 169, 74); border-style: solid;"></div>
            <div class="relative z-10">
                <img src="https://images.squarespace-cdn.com/content/v1/64949dc79977705a91fbda77/4bd39523-9ec3-4112-9ab3-57c92fdf75e4/U+of+U+Fall+Dance+2+2021+1180+edit.jpg" alt="D-TARAXIA Performance" 
                     class="w-[50vw] h-[40vw] sm:w-[50vw] sm:h-[35vw] md:w-[35vw] md:h-[30vw] 
                            lg:w-[27vw] lg:h-[23vw] object-cover shadow-lg ">
            </div>
        </div>
    </div>
</section>
<h1
class="font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 pb-5">
Events Organised
</h1>
<div class="lg:w-[90vw] lg:h-[95vh] w-[95%] h-[50%] mx-auto">
    <div class="swiper mySwiper5 relative">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Library : Our library houses an extensive collection of books, research papers, and academic
              journals, providing students with access to valuable resources for their studies. The serene
              environment encourages focused reading and research.
            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/IIIT13.webp" alt="" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Electronics Lab : Our well-furnished electronics lab provides students with all necessary
              components, oscilloscopes, circuit boards, and even a 3D printer for innovation and experimentation
              in electronics and robotics.

            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/IIIT3.webp" alt="" loading="lazy" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Reading Room : The dedicated reading room offers a quiet and comfortable space for students to
              concentrate on their studies. With ample seating and proper lighting, it is an ideal place for
              uninterrupted learning.

            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/IIIT11.webp" alt="" loading="lazy" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Computer Lab : The computer lab is equipped with high-performance systems, advanced software, and
              high-speed internet. It ensures students get hands-on experience with the latest technologies and
              programming tools.

            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/IIIT18.webp" alt="" loading="lazy" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Gym : It’s time to push limits, break a sweat, and unleash your inner strength! Whether you're
              lifting, running, or stretching, this is your space to grow, challenge yourself, and stay fit.
            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/IIIT19.webp" alt="" loading="lazy" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Indoor Games : Students can relax and socialize in the indoor games area, which includes facilities
              for carrom, table tennis, and other recreational activities, fostering a balance between academics
              and leisure.

            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/IIIT22.webp" alt="" loading="lazy" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Badminton Court : The dedicated badminton court offers students a chance to engage in competitive
              and recreational play, promoting physical fitness and sportsmanship on campus.

            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/IIIT21.webp" alt="" loading="lazy" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Hostel Mess : Get ready to fuel up with delicious meals, fresh flavors, and great company! Whether
              it's a hearty breakfast to kickstart your day or a comforting dinner after classes, we're here to
              serve you with love and energy!
            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/IIIT17.webp" alt="" loading="lazy" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Conference Room : A space for ideas to spark, discussions to thrive, and decisions to shape the
              future! Whether it’s a brainstorming session, a key meeting, or a collaborative event, let
              innovation and productivity take center stage.
            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/IIIT23.webp" alt="" loading="lazy" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              Amphitheater : Get ready for an experience like no other! From inspiring talks to electrifying
              performances, this is where creativity meets the spotlight. Sit back, engage, and let the magic
              unfold!
            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/12.webp" alt="" loading="lazy" />
        </div>
        <div class="swiper-slide">
          <div
            class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
            <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
              3D Printer : Where imagination turns into reality—layer by layer! Whether you're prototyping,
              experimenting, or creating something groundbreaking, this is your space to innovate and bring ideas
              to life.
            </p>
          </div>
          <div
            class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
            <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
          </div>
          <img class="w-full h-full object-fit" src="../images/index/7.webp" alt="" loading="lazy" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
    </div>
    <%- include('../partials/footer') %> 
</body>
<%- include('../partials/tail2') %> 