<%- include('../partials/head2') %>
<body>
  <%- include('../partials/nav') %>
  <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>
  <div
  class="routes w-full md:px-6 px-2 px-2 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gamd:p-4 p-[4px] bg-[#00457b] py-3 md:py-5">
  <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
      href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
  </a>
  <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
      href="/">Clubs<i class="ri-arrow-right-s-line text-md"></i>
  </a>

</div>
    <header class="bg-white text-[#00457b] text-center py-6">
        <h1 class="text-3xl font-bold">IIIT Nagpur Clubs & Events</h1>
    </header>
    <main class="coverer mx-auto p-6">
    <section>
        <h2 class="lg:text-3xl md:text-xl font-semibold text-[#00457b] mb-4 text-center">Technical Clubs</h2>
        <div class="swiper mySwiper px-4">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/club/dotslash">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/dotSlash.jpeg" alt="Coding Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Dotslash</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/elevate">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/elevate.jpg" alt="AI & ML Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Elevate</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/crispr">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/crispr.jpeg" alt="Robotics Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Crispr</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/iotics">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/iotics.jpeg" alt="Robotics Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Iotics</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/strokes">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/strokes.jpeg" alt="Robotics Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Strokes</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/dimensions">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/dimensions.jpeg" alt="Robotics Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Dimensions</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/udyam">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/ecell.jpg" alt="Robotics Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Udhyam</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination py-6"></div>
        </div>
    </section>

    <!-- Cultural Clubs Carousel -->
    <section class="my-8">
        <h2 class="lg:text-3xl md:text-xl font-semibold text-[#00457b] mb-4 text-center">Cultural Clubs</h2>
        <div class="swiper mySwiper px-4">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/club/crescendo">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/cresendo.jpg" alt="Music Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Crescendo</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/dtraxia">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/dtraxia.jpeg" alt="Dance Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">DTraxia</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/estoria">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/estoria.jpg" alt="Drama Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Estoria</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/orator">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/orator.jpeg" alt="Drama Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Orator</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/probe">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/probe.jpeg" alt="Drama Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Probe</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/club/eklavya">
                        <div class="bg-white text-center">
                            <img src="../images/clubs/eklavya.jpeg" alt="Drama Club" class="rounded-lg w-full h-60 object-cover">
                            <h3 class="mt-3 font-semibold">Eklavya</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination py-6"></div>
        </div>
    </section>

</main>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/tail2') %>
