<%- include('../partials/head2') %>

    <body>
        <%- include('../partials/nav') %>
    <div class="bgin pb-12 md:pb-20 w-full min-h-screen bg-white text-[#00457b]">
      <!-- Spacer for header -->
      <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>
      <div class="mainContent w-full bg-zinc-100/30">
        <!-- Navigation -->
        <div class="routes w-full md:px-4 px-[4px] sm:px-6 md:px-20 lg:md:px-4 px-[4px]4 flex flex-wrap items-center gap-2 md:gap-3 bg-[#00457b] py-3 md:py-4">
          <a class="text-[10px] xs:text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase text-white transition-colors" href="/">
            Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a class="text-[10px] xs:text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase text-white transition-colors" href="#">
            Administration <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a class="text-[10px] xs:text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase text-white transition-colors" href="/governance/staff">
            Staff 
          </a>
        </div>
        

        <!-- Main Content -->
        <div class="border-4 border-[#00457b] overflow-hidden  mx-4 my-6 md:m-8 lg:m-10 pb-6 md:pb-8">
          <div class="content md:px-4 px-[4px] sm:px-6 md:px-10 lg:md:px-4 px-[4px]4 mt-4 md:mt-8 lg:mt-12">
            <h2 class="text-base md:text-xl lg:text-2xl uppercase font-bold text-[#00457b]">
              Staff
            </h2>
            <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
            <div>
                <h4 class="text-gray-700 mt-5">
                    Staff Directory <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741622901/iiitn/qdjaxwpfc3qs44slyrgb.pdf" target="_blank" class="inline-block text-[#f26e32] hover:underline">Click Here</a>
                </h4>
            </div>
            
            <!-- Table Section -->
            <div class="max-w-6xl md:mt-10 mt-4 mx-auto bg-white  overflow-hidden">
                <!-- Header Section -->
                <div class="bg-[#00457b] text-white text-center py-4 text-lg font-bold">
                    प्रशासन विभाग Administration Department
                </div>
                
                <!-- Table -->
                <div class="overflow-x-auto">
                    <table class="min-w-full border border-gray-300 text-[2vw] md:text-[1.6vw] lg:text-[1vw]">
                        <thead class="bg-gray-200">
                            <tr class="text-left">
                                <th class="border md:px-4 px-[4px] py-2">क्र.संख्या Sr. No.</th>
                                <th class="border md:px-4 px-[4px] py-2">नाम Name</th>
                                <th class="border md:px-4 px-[4px] py-2">पद Designation</th>
                                <th class="border md:px-4 px-[4px] py-2">मोबाइल नंबर Contact Number</th>
                                <th class="border md:px-4 px-[4px] py-2">ईमेल आईडी Email ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">1</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री हर्षद पोफली / Mr. Harshad Pophlai</td>
                                <td class="border md:px-4 px-[4px] py-2">विशेष कार्य अधिकारी / OSD</td>
                                <td class="border md:px-4 px-[4px] py-2">9373288110</td>
                                <td class="border md:px-4 px-[4px] py-2">harshad.pophlai@iiitn.ac.in</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">2</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री राजेश महादेव राव हक्के / Rajesh Mahadeorao Hakke</td>
                                <td class="border md:px-4 px-[4px] py-2">विशेष कार्य अधिकारी / OSD</td>
                                <td class="border md:px-4 px-[4px] py-2">9428202007</td>
                                <td class="border md:px-4 px-[4px] py-2">osdrhakke@iiitn.ac.in</td>
                            </tr>
                            <tr class="bg-gray-100">
                                <td colspan="5" class="border text-center md:px-4 px-[4px] py-2 font-bold">प्रशिक्षण एवं नियुक्ति / Training & Placement</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">3</td>
                                <td class="border md:px-4 px-[4px] py-2">डॉ मीरा सातव / Dr. Meera Satav</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधीक्षक (T & P)</td>
                                <td class="border md:px-4 px-[4px] py-2">9764490050</td>
                                <td class="border md:px-4 px-[4px] py-2">meerajagdale@iiitn.ac.in</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">4</td>
                                <td class="border md:px-4 px-[4px] py-2">डॉ महेश शुक्ला / Dr. Mahesh Shukla</td>
                                <td class="border md:px-4 px-[4px] py-2">Officer (T & P)</td>
                                <td class="border md:px-4 px-[4px] py-2">9890070945</td>
                                <td class="border md:px-4 px-[4px] py-2">otp@iiitn.ac.in</td>
                            </tr>
                            <tr class="bg-gray-100">
                                <td colspan="5" class="border text-center md:px-4 px-[4px] py-2 font-bold">लेखा विभाग / Account Section</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">5</td>
                                <td class="border md:px-4 px-[4px] py-2">Ms. Shilpa Pawankar</td>
                                <td class="border md:px-4 px-[4px] py-2">Assistant Registrar (Accounts)</td>
                                <td class="border md:px-4 px-[4px] py-2">9730012925</td>
                                <td class="border md:px-4 px-[4px] py-2">aracct@iiitn.ac.in</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">6</td>
                                <td class="border md:px-4 px-[4px] py-2">श्रीमती माधुरी बोबडे / Mrs. Madhuri Bobade</td>
                                <td class="border md:px-4 px-[4px] py-2">Junior Officer (Accounts)</td>
                                <td class="border md:px-4 px-[4px] py-2">9860538883</td>
                                <td class="border md:px-4 px-[4px] py-2">jombobade@iiitn.ac.in</td>
                            </tr>
                            <tr class="bg-gray-100">
                                <td colspan="5" class="border text-center md:px-4 px-[4px] py-2 font-bold">आंतरिक लेखापरीक्षा / Internal Audit</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">7</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री तुषार निमकर / Mr. Tushar Nimkar</td>
                                <td class="border md:px-4 px-[4px] py-2">Junior Assistant (Internal Audit)</td>
                                <td class="border md:px-4 px-[4px] py-2">8180843224</td>
                                <td class="border md:px-4 px-[4px] py-2">jatrnimkar@iiitn.ac.in</td>
                            </tr>
                            <tr class="bg-gray-100">
                                <td colspan="5" class="border text-center md:px-4 px-[4px] py-2 font-bold">तकनीकी अधिकारी / Technical Officer</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">8</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री प्रितेश तिवारी / Mr. Pritesh Tiwari</td>
                                <td class="border md:px-4 px-[4px] py-2">Technical Officer</td>
                                <td class="border md:px-4 px-[4px] py-2">9425786655</td>
                                <td class="border md:px-4 px-[4px] py-2">to@iiitn.ac.in</td>
                            </tr>
                            <tr class="bg-gray-100">
                                <td colspan="5" class="border text-center md:px-4 px-[4px] py-2 font-bold">सामान्य प्रशासनिक विभाग / General Administrative Section</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">9</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री अविनाश सूर्यवंशी / Mr. Avinash Suryawanshi</td>
                                <td class="border md:px-4 px-[4px] py-2">विशेष कार्य सहयोगी अधिकारी / AOSD</td>
                                <td class="border md:px-4 px-[4px] py-2">9960206223</td>
                                <td class="border md:px-4 px-[4px] py-2">aosd@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">10</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री अनिल पखिडडे / Mr. Anil Pakhidde</td>
                                <td class="border md:px-4 px-[4px] py-2">अधिकारी प्रशासन / Officer-Admin</td>
                                <td class="border md:px-4 px-[4px] py-2">9970217560</td>
                                <td class="border md:px-4 px-[4px] py-2">oapakhidde@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">11</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री शशिकांत भोंगले / Mr. Shashikant Bhongale</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधीक्षक (छात्रावास) / Junior Superintendent (Hostel)</td>
                                <td class="border md:px-4 px-[4px] py-2">9049638115</td>
                                <td class="border md:px-4 px-[4px] py-2">shashikant.bhongale@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">12</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री अभिषेक पालीवाल / Mr. Abhishek Paliwal</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ सहायक(प्रशासन) / Junior Assistant (Multi-Skilled) Admin</td>
                                <td class="border md:px-4 px-[4px] py-2">8275535335</td>
                                <td class="border md:px-4 px-[4px] py-2">jaaspaliwal@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">13</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री रौनक मूंदड़ा / Mr. Raunak Mundada</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ सहायक(प्रशासन) / Junior Assistant (Multi-Skilled) Admin</td>
                                <td class="border md:px-4 px-[4px] py-2">8446573310</td>
                                <td class="border md:px-4 px-[4px] py-2">jarmundada@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">14</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री मोहन उईके / Mr. Mohan Uikey</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (प्रशासन) / Junior Officer (Admin)</td>
                                <td class="border md:px-4 px-[4px] py-2">7719043956</td>
                                <td class="border md:px-4 px-[4px] py-2">jomsuikey@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">15</td>
                                <td class="border md:px-4 px-[4px] py-2">कु. हर्षा नागपुरे / Ms. Harsha Nagpure</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (प्रशासन) / Junior Officer (Admin)</td>
                                <td class="border md:px-4 px-[4px] py-2">9096927754</td>
                                <td class="border md:px-4 px-[4px] py-2">johgnagpure@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">16</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री विकाश सिंह शेखावत / Mr. Vikash Singh Shekhawat</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (प्रशासन) / Junior Officer (Admin)</td>
                                <td class="border md:px-4 px-[4px] py-2">7568783847</td>
                                <td class="border md:px-4 px-[4px] py-2">jovshekhawat@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">17</td>
                                <td class="border md:px-4 px-[4px] py-2">श्रीमती रूपवती जोगी / Mrs. Rupawati Jogi</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (प्रशासन) / Junior Officer (Admin)</td>
                                <td class="border md:px-4 px-[4px] py-2">7020647537</td>
                                <td class="border md:px-4 px-[4px] py-2">jorjogi@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">18</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री शुभम बुरडकर / Mr. Shubham Buradkar</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (प्रशासन) / Junior Officer (Admin)</td>
                                <td class="border md:px-4 px-[4px] py-2">8805414194</td>
                                <td class="border md:px-4 px-[4px] py-2">josburadkar@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">19</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री सुनील ढोले / Mr. Sunil Dhole</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (प्रशासन) / Junior Officer (Admin)</td>
                                <td class="border md:px-4 px-[4px] py-2">7875721870</td>
                                <td class="border md:px-4 px-[4px] py-2">instructor@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">20</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री. पवन संजय कटरे / Mr. Pawan Sanjay Katre</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (प्रशासन) / Junior Officer (Admin)</td>
                                <td class="border md:px-4 px-[4px] py-2">8390357486</td>
                                <td class="border md:px-4 px-[4px] py-2">jopkatre@iiitn.ac.in</td>
                            </tr>
                            
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">21</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री. आकाश रामदासराव काकडे / Mr. Akash Ramdasrao Kakde</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (प्रशासन) / Junior Officer (Admin)</td>
                                <td class="border md:px-4 px-[4px] py-2">8888984630</td>
                                <td class="border md:px-4 px-[4px] py-2">joakakade@iiitn.ac.in</td>
                            </tr>
                            
            
                            <!-- Yoga & Sports Instructor -->
                            <tr class="bg-gray-100">
                                <td colspan="5" class="border text-center md:px-4 px-[4px] py-2 font-bold">योग एवं खेल प्रशिक्षक / Yoga & Sports Instructor</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">22</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री नीरज जोशी / Mr. Neeraj Joshi</td>
                                <td class="border md:px-4 px-[4px] py-2">शारीरिक प्रशिक्षण प्रशिक्षक / Physical Training Instructor</td>
                                <td class="border md:px-4 px-[4px] py-2">8668552321</td>
                                <td class="border md:px-4 px-[4px] py-2">pti@iiitn.ac.in</td>
                            </tr>
            
                            <!-- Engineers Section -->
                            <tr class="bg-gray-100">
                                <td colspan="5" class="border text-center md:px-4 px-[4px] py-2 font-bold">इंजीनियर / Engineers</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">23</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री अशोक डोंगरे / Mr. Ashok Dongare</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अभियंता (सिविल) / Junior Engineer (Civil)</td>
                                <td class="border md:px-4 px-[4px] py-2">9689009639</td>
                                <td class="border md:px-4 px-[4px] py-2">jecivil@iiitn.ac.in</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">24</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री. अजिंक्य भागवतकर / Mr. Ajinkya Bhagwatkar</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (सिविल) / Junior Officer (Civil)</td>
                                <td class="border md:px-4 px-[4px] py-2">7770013155</td>
                                <td class="border md:px-4 px-[4px] py-2">joabhagwatkar@iiitn.ac.in</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">25</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री अमित उपरे / Mr. Amit Upare</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ टेक्नीशियन (विद्युतीय) / Junior Engineer (Electrical)</td>
                                <td class="border md:px-4 px-[4px] py-2">7385723577</td>
                                <td class="border md:px-4 px-[4px] py-2">jeahu@iiitn.ac.in</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">26</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री. योगेश धानुरकर / Mr. Yogesh Dhanurkar</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (विद्युतीय) / Junior Officer (Electrical)</td>
                                <td class="border md:px-4 px-[4px] py-2">8830522142</td>
                                <td class="border md:px-4 px-[4px] py-2">joydhanurkar@iiitn.ac.in</td>
                            </tr>
                            
            
                            <!-- Library Section -->
                            <tr class="bg-gray-100">
                                <td colspan="5" class="border text-center md:px-4 px-[4px] py-2 font-bold">पुस्तकालय / Library</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">27</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री तुषार रंगारी / Mr. Tushar Rangari</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (पुस्तकालय) / Junior Officer (Library)</td>
                                <td class="border md:px-4 px-[4px] py-2">7020479917</td>
                                <td class="border md:px-4 px-[4px] py-2">oalibrary@iiitn.ac.in</td>
                            </tr>
            
                            <!-- Exam Section -->
                            <tr class="bg-gray-100">
                                <td colspan="5" class="border text-center md:px-4 px-[4px] py-2 font-bold">परीक्षा विभाग / Exam Section</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">28</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री. समीर गुडधे / Mr. Sameer Gudadhe</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ अधिकारी (प्रशासन) / Junior Officer (Admin)</td>
                                <td class="border md:px-4 px-[4px] py-2">9049000178</td>
                                <td class="border md:px-4 px-[4px] py-2">oa@iiitn.ac.in</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">29</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री सुरज शेंडोकार / Mr. Suraj Shendokar</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ सहायक(प्रशासन) / Junior Assistant (Multi-Skilled) Admin</td>
                                <td class="border md:px-4 px-[4px] py-2">7770030195</td>
                                <td class="border md:px-4 px-[4px] py-2">jasuraj@iiitn.ac.in</td>
                            </tr>
                            <tr>
                                <td class="border md:px-4 px-[4px] py-2 text-center">30</td>
                                <td class="border md:px-4 px-[4px] py-2">श्री निलोबा महाजन / Mr. Niloba Mahajan</td>
                                <td class="border md:px-4 px-[4px] py-2">कनिष्ठ सहायक(प्रशासन) / Junior Assistant (Multi-Skilled) Admin</td>
                                <td class="border md:px-4 px-[4px] py-2">8999296062</td>
                                <td class="border md:px-4 px-[4px] py-2">janamahajan@iiitn.ac.in</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
<%- include('../partials/tail2') %>