<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
      <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>
      <div class="mainContent w-full">
        <div
          class="routes w-full px-4 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5"
        >
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/"
            >Student <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/student/achievements"
            >Achievements
          </a>
        </div>

        <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10">
       
  <div class="content px-6 md:px-10 lg:px-44 mt-8 md:mt-16 ">
            <h2 class="text-2xl uppercase font-bold text-[#00457b]">Achievements</h2>
            <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
  
            <div>
              <h2 class="text-xl mt-5 font-bold">2024:</h2>
              <ol class="text-ms mt-5 lg:pl-12 md:pl-6 pl-2 text-black list-disc">
                <!-- Fixed List Type -->
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                    Dr. Charu Goel, and Dr. Kamaljeet was coordinators of
                    Teacher’s Enrichment Workshops (TEW) conducted by IIIT Nagpur
                    with financial support from the National Centre for
                    Mathematics (A joint centre of IIT Bombay and TIFR, Mumbai)
                    from 09 December 2024 to 14 December 2024.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                    Delivered a keynote session by Dr. Preeti on Introduction to
                    MATLAB and Basic Operations at the FDP titled “Scientific
                    Computing Essentials with MATLAB: A Comprehensive One-Week
                    Faculty Development Program” held from 24-28 June 2024;
                    jointly organized by the Anand International College of
                    Engineering, Jaipur and Math Tech Thinking Foundation, INDIA.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                    Delivered a keynote session by Dr. Preeti on Publishing and
                    Peer Review Process at the “Faculty Development Programme on
                    Enhancing Research Paper Writing and Publication Skills” held
                    from 06-10 May 2024; jointly organized by the Research and
                    Development Cell, Poornima College of Engineering, Jaipur and
                    Math Tech Thinking Foundation, INDIA.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                    Dr Madhuri Tayade," System for Efficient Supply Chain and
                    Logistic Management" was published on November 15, 2024.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                    Dr Madhuri Tayade invited as a guest speaker at Bajaj
                    Institute of Technology, Wardha on 13th December, 2024. She
                    delivered a session on "Lessons from Ancient India:
                    Cultivating the Right Mindset in Engineering Students (IKS)"
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                    Dr Madhuri Tayade was invited as a judge for the Cultural Fest
                    'AURA' on 14th Feb, 2024 at LAD College Nagpur.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                    An article by Dr. Madhuri Tayade titled "Gen Z and Indian
                    Knowledge System" was published in the main section of the
                    Hitavada newspaper on December 23, 2024.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                    Dr Madhuri Tayade invited as a judge for Icebreaker Marathon
                    (Creative Self Introduction) on 9th Feb, 2024 at G.H. Raisoni
                    College of Arts, Commerce and Science Sadar, Nagpur.
                  </h4>
                </li>
              </ol>
            </div>
            <div>
              <h2 class="text-xl mt-5 font-bold">2022:</h2>
              <ol class="text-ms mt-5 lg:pl-12 md:pl-6 pl-2 text-black list-disc">
                <!-- Fixed List Type -->
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Department of Basic Sciences received research funding from DST-NewGen IEDC DMIMS 2022-23
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Department of Basic Sciences delivered the invited talk on "Innovative ideas for Development of Green Campus for Sustainable Environmental Development" in AICTE and ISTE Sponsored Online Short Term Training Program (STTP) On “Green Technology: “A Journey towards social upliftment ” organized by College of Engineering and Technology, Akola in the duration from 10/01/2022 to 14/01/2022.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Department of Basic Sciences invited as Special Guest and Key Note speaker at G. H. Raisoni Institute of Engineering and Technology, 24th Feb. 2022 and delivered the talk on “Journey of Nanoscience and Nanotechnology.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Organized an impact lecture series in online mode sponsored by Institution's Innovation Council (IIC), Ministry of Education (MoE) at Institute. Coordinator - Dr.Aatish S. Daryapurkar.Department of Basic Sciences and Dr.ParitoshPeshwe, Department of Electronics and communication
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Department of Basic Sciences invited as the speaker for the session on "Adoption of National Innovation and Start-up (NISP) policy" by Institute's Innovation Council, Ministry of Education at Regional Meet held at G. H. Raisoni College of Engineering, Nagpuron 29thJuly 2022.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Department of Basic Sciences invited as the resource person to deliver an online talk in a 5 days faculty development program on “Quantum Physics leading way to Photonics” organized by Te-Searchers at G. H. Raisoni College Engineering, Nagpur during 10th Oct – 14th Oct 2022.
                  </h4>
                </li>
              </ol>
            </div>
            <div>
              <h2 class="text-xl mt-5 font-bold">2021:</h2>
              <ol class="text-ms mt-5 lg:pl-12 md:pl-6 pl-2 text-black list-disc">
                <!-- Fixed List Type -->
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Harshal Khandait, a final year undergraduate from Computer Science and Engineering branch selected among 106 finalists from the country for the Grand Finale for ASEAN-INDIA Hackathon-2021 under the mentorship of Dr. Aatish Daryapurkar, Assistant Professor, Department of Basic Sciences.
                  </h4>
                </li>
              </ol>
            </div>
            <div>
              <h2 class="text-xl mt-5 font-bold">2020:</h2>
              <ol class="text-ms mt-5 lg:pl-12 md:pl-6 pl-2 text-black list-disc">
                <!-- Fixed List Type -->
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Assistant Professor, Department of Basic Sciences was a Key Note speaker in a Rashtriya Uchatar Shiksha Abhiyan (RUSA), State Government of Maharashtra sponsored National Level Webinar organized by IQAC and Department of Physics, Patkar-Varde College, Mumbai on 17th June 2020, during the period of COVID-19 pandemic.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Assistant Professor, Department of Basic Sciences was invited as the Special Guest and Key Note speaker for free online revision course for MH-CET, IIT-JEE, and NEET Examinations for all the students of Tribal Schools in association with Additional Tribal Commissioner, Amravati held on 20th to 27th June 2020, during the period of COVID-19 pandemic.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Assistant Professor, Department of Basic Sciences was a member of the Advisory Committee and guest of honor of the International Interdisciplinary E-Conference on "Computer Technology. Commerce, and Management Studies - 2020 organized by SNDT Women's University Mumbai, in association with Aakar College of Management for Women and Aakar Institute of Management and Research Studies held on 10th -11th July 2020, during the period of COVID-19 pandemic.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      NCERT book entitled “Development of Mathematics Practical manual for B.SC. B.ED. Level” is developed by Dr. Anuradha Singh, Assistant Professor in Basic Sciences as a subject expert.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      International Webinar - Celebrating Women in Mathematics organized by Dr. Charu Goel, Assistant Professor in Basic Sciences on 29th May 2020 Click Here
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      "Oberwolfach Leibnitz Fellowship" grant from the Mathematisches Forschungsinstitut Oberwolfach, Germany to visit MFO as a Fellow (Dr. Charu Goel, Assistant Professor in Basic Sciences) for 3 months to work on the project "Nonnegative Polynomials vs Sums of Squares" with International collaborators - 2020
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Anuradha Singh and Dr. Kirti Dorshetwar has developed an android app "COVID CARE" - 2020
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Aatish Daryapurkar Head & Assistant Professor, Department of  Basic Sciences elected as an Executive Committee member on the board of IIT Bombay alumni association Nagpur chapter, Nagpur
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Anuradha Singh and Dr. Richa Makhijani get approval for COVID-19 Research Project from IIT Delhi under "COVID 19 Research at IIT Delhi Supercomputer" (HPC-IITD). The project members include Chief Scientist Dr. Hemant Purohit from National Environmental Engineering Research Institute, Nagpur, and Dr. Ashwin Kothari, Incharge Dean, IIIT Nagpur.  - 2020. 
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Anuradha Singh and Dr. Kirti Dorshetwar has developed an android app "COVID CARE" - 2020Dr. Charu Goel, Assistant Professor in Basic Sciences received a grant visit to IIT Jodhpur and LNMIIT Jaipur (in February 2020). The visit was initiated, organized, and fully funded by Indian Women in Mathematics (together with IIT Jodhpur and LNMIIT Jaipur, providing accommodation).
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Charu Goel Assistant Professor in Basic Sciences delivered a talk in the workshop "Real Algebraic Geometry with a view toward Hyperbolic Programming & Free Probability" at the Mathematisches Forschungsinstitut Oberwolfach, Germany [March 2020].
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Charu Goel Assistant Professor in Basic Sciences invited as a speaker at the "Mathematics Seminar", LNMIIT Jaipur, India [February 2020].
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Anuradha Singh Assistant Professor in Basic Sciences invited as a subject expert in the workshop on “Development of Mathematics Practical Manual for B.Sc. B.Ed” at Regional Institute of Education (RIE) Bhopal, M.P from 20-01-2020 to 26-01-2020.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Anuradha Singh Assistant Professor in Basic Sciences and Dr. Richa Makhijani has Organized a seven weeks certification course on “Statistical Techniques in Data Science Using R Programming" from  8th Feb to 30th May. 2020 at IIIT Nagpur.
                  </h4>
                </li>
              </ol>
            </div>
            <div>
              <h2 class="text-xl mt-5 font-bold">2019:</h2>
              <ol class="text-ms mt-5 lg:pl-12 md:pl-6 pl-2 text-black list-disc">
                <!-- Fixed List Type -->
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      The team “The terrifying Nightmares” under the mentorship of Dr Aatish S. Daryapurkar, Assistant Professor, Department of Basic Sciences, won the competition “Smart India Hackathon – 2019” Agriculture Hardware Edition and bagged the trophy and prize money of Rs. 1 Lac.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Assistant Professor, Department of Basic Sciences delivered talk on "Power of the 3rd eye" at National School on Computer-Assisted Spectroscopy Data Interpretation Techniques organized by Department of Physics, R T M Nagpur University in collaboration with Materials Research Society of India, Nagpur Chapter, Dharampeth M. P. Deo Memorial Science College and Shri Shivaji Science College Nagpur.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Rohan Shukla participated in "Srajan-19" project idea contest organized by MANIT Bhopal with mentor Dr Aatish S. Daryapurkar and interacted with Dr Peter Shultz who is a 1st inventor of Fiber Optics.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Many publications (Seven) in SCI in the Year 2018-2019 by Dr. Prasad V. Joshi, Assistant Professor, Department of Basic Sciences & Engineering - 2019
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Anuradha Singh Assistant Professor in Basic Sciences invited as a keynote speaker in One Week FACULTY DEVELOPMENT PROGRAMME on “RECENT APPROACHES OF NUMERICAL METHODS AND SIMULATION TECHNIQUES FOR SCIENTISTS AND ENGINEERS ”Organised by Rajiv Gandhi Proudyogiki Vishwavidyalaya, Bhopal (M.P) Under TEQIP-III at 17 – 21 DECEMBER, 2019
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Charu Goel Assistant Professor in Basic Sciences invited as a speaker at the "Mathematics Colloquium", Indian Institute of Technology (IIT) Bombay, India [October 2019]
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Charu Goel Assistant Professor in Basic Sciences received Fully funded as well as invited as a speaker at the "CACAAG (Combinatorial Aspects of Commutative Algebra and Algebraic Geometry) Seminar", IIT Bombay, India [October 2019].
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Charu Goel Assistant Professor in Basic Sciences invited as Nodal Officer from IIIT Nagpur for the Orientation workshop on "IRINS - Awareness and Implementation" (in August 2019) at INFLIBNET Centre Gandhinagar, India.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Anuradha Singh Assistant Professor in Basic Sciences invited as a keynote speaker in One Week Faculty Development Programme on “MODERN ASPECTS OF CALCULUS AND ANALYSIS IN ENGINEERING" from 26-08-2019 to 30-08-2019 organized by Rajiv Gandhi Proudyogiki Vishwavidyalaya (RGPV) Bhopal.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr. Charu Goel Assistant Professor in Basic Sciences received a travel and accommodation grant for presenting her research work in "Indian Women and Mathematics Annual Conference 2019" (10th -12th June 2019) at Indian Institute of Technology Bombay.
                  </h4>
                </li>
              </ol>
            </div>
            <div>
              <h2 class="text-xl mt-5 font-bold">2018:</h2>
              <ol class="text-ms mt-5 lg:pl-12 md:pl-6 pl-2 text-black list-disc">
                <!-- Fixed List Type -->
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Assistant Professor, Department of Basic Sciences was invited as a chief guest at the Institution of Electronics and telecommunication Engineers on the occasion of its Foundation Day on 3rd November 2018 and delivered that talk on “Nanotechnology and its relevance to robotics”
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Assistant Professor, Department of Basic Sciences awarded “Early Career Research Award” by Science and Engineering Research Board, The Department of Science and Technology (DST), India.
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Aatish S. Daryapurkar, Assistant Professor, Department of Basic Sciences organized the blood donation and health check up camp under the theme “Share a little, Care a little”
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Charu Goel Assistant Professor in Basic Sciences received "Open Arms Travel Grant" and "NBHM ICM travel grant (from Department of Atomic Energy)" and presented her research work at the International Congress of Mathematicians (ICM) 2018, Rio de Janeiro, Brazil [August 2018]. 
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Charu Goel Assistant Professor in Basic Sciences presented a poster at the "World Meeting for Women in Mathematicians", Rio de Janeiro, Brazil [31st July 2018]. 
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Dr Charu Goel Assistant Professor in Basic Sciences received "European Women in Mathematics - travel grant" and delivered an invited talk at the Summer School ALGAR 2018, University of Antwerp, Belgium [July 2018]. 
                  </h4>
                </li>
                <li>
                  <h4 class="md:text-lg text-sm m-2 mt-4 mb-4">
                      Research grant received by Dr Aatish Daryapurkar, Department of Basic Sciences for Nano Science-based project - 2018
                  </h4>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 