<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
      <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>

      <div class="mainContent w-full">
        <div class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5">
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/"
            >Student <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
          class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
            href="/student/hostel"
            >Hostel
          </a>
        </div>
        <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10">
      <div class="content px-4 md:px-20 lg:px-44 mt-6 md:mt-12 mb-6 md:mb-8">
        <h2 class="text-xl md:text-2xl uppercase font-bold text-[#00457b]">
          Hostel
        </h2>
        <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
        
        <div class="pl-4 md:pl-6 lg:pl-8 pb-4 md:pb-6">
          <ol class="list-decimal mt-4 md:mt-6 space-y-4 md:space-y-3">
              <li>
                  <h4 class="text-base md:text-lg lg:text-xl leading-relaxed md:leading-7">
                      Anti Ragging Rules  
                      <a class="text-sky-600 hover:text-sky-700 hover:underline whitespace-nowrap" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741547128/iiitn/orok5dotcoh0yol1c3ue.pdf">
                          Click Here
                      </a>
                  </h4>
              </li>
              <li>
                  <h4 class="text-base md:text-lg lg:text-xl leading-relaxed md:leading-7">
                      Institute Rules 
                      <a class="text-sky-600 hover:text-sky-700 hover:underline whitespace-nowrap" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741547215/iiitn/xj6wjw1zamb53mgxcm6p.pdf">
                          Click Here
                      </a>
                  </h4>
              </li>
              <li>
                  <h4 class="text-base md:text-lg lg:text-xl leading-relaxed md:leading-7">
                      Hostel Rules  
                      <a class="text-sky-600 hover:text-sky-700 hover:underline break-words" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741547274/iiitn/dsv0bjgozyq6qnibkqsg.pdf">
                          Click Here
                      </a>
                  </h4>
              </li>
              <li>
                  <h4 class="text-base md:text-lg lg:text-xl leading-relaxed md:leading-7">
                      Institute Do's and Dont's 
                      <a class="text-sky-600 hover:text-sky-700 hover:underline break-words" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741547325/iiitn/epujfpki4zmrf4cbibau.pdf">
                          Click Here
                      </a>
                  </h4>
              </li>
            </ol>
        </div>
      </div>
     </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 