<%- include('../partials/head2') %>

    <body>
        <%- include('../partials/nav') %>
            <div class="bgin w-full min-h-screen bg-white text-[#00457b]">
                <div class="w-full lg:h-[100px] md:h-[70px] h-[60px]"></div>


                <div
                    class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5">
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="#">Equal Opportunity Cell

                    </a>
                </div>
                <!-- Main Content -->
                <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10 text-black">
                    <div class="px-4 md:px-20 lg:px-40 mt-8 md:mt-16 mb-8 md:mb-10">
                        <div class="p-8 rounded-xl shadow-lg">
                            <h2 class="text-3xl font-bold  mb-6 text-center">⚖️ Internal Complaint Committee</h2>
                        
                            <p class="text-gray-700 text-lg leading-relaxed mb-6 text-center">
                                The Internal Complaint Committee (ICC) has been constituted to address grievances and ensure a safe workplace environment at IIIT Nagpur.
                            </p>
                        
       
                                <h3 class="text-2xl font-semibold text-[#00457b] mb-4">📅 As on 1st July 2024</h3>
                        
                                <div class="overflow-x-auto">
                                    <table class="w-full border-collapse bg-white shadow-md rounded-lg">
                                        <thead>
                                            <tr class="bg-[#00457b] text-white text-left">
                                                <th class="p-3">Sr. No.</th>
                                                <th class="p-3">Name</th>
                                                <th class="p-3">Designation</th>
                                                <th class="p-3">Email ID</th>
                                                <th class="p-3">Mobile</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-gray-700">
                                            <tr class="border-b hover:bg-gray-100">
                                                <td class="p-3">1</td>
                                                <td class="p-3">Dr. Kirti Dorshetwar</td>
                                                <td class="p-3">Chairman, Asst. Professor</td>
                                                <td class="p-3 text-blue-600"><a href="mailto:kdorshetwar@iiitn.ac.in">kdorshetwar@iiitn.ac.in</a></td>
                                                <td class="p-3">9823190654, 8668766430</td>
                                            </tr>
                                            <tr class="border-b hover:bg-gray-100">
                                                <td class="p-3">2</td>
                                                <td class="p-3">Mrs. Pallavi P. Padole</td>
                                                <td class="p-3">Member from NGO, Dy. Director, VARDAN, Nagpur</td>
                                                <td class="p-3 text-blue-600"><a href="mailto:pmpadole@rediffmail.com">pmpadole@rediffmail.com</a></td>
                                                <td class="p-3">----</td>
                                            </tr>
                                            <tr class="border-b hover:bg-gray-100">
                                                <td class="p-3">3</td>
                                                <td class="p-3">Dr. Nileshchandra Pickle</td>
                                                <td class="p-3">Member, Asst. Professor</td>
                                                <td class="p-3 text-blue-600"><a href="mailto:npickle@iiitn.ac.in">npickle@iiitn.ac.in</a></td>
                                                <td class="p-3">7276834418</td>
                                            </tr>
                                            <tr class="border-b hover:bg-gray-100">
                                                <td class="p-3">4</td>
                                                <td class="p-3">Dr. Girish Ghivela</td>
                                                <td class="p-3">Member, Asst. Professor</td>
                                                <td class="p-3 text-blue-600"><a href="mailto:gghivela@iiitn.ac.in">gghivela@iiitn.ac.in</a></td>
                                                <td class="p-3">7008386470</td>
                                            </tr>
                                            <tr class="border-b hover:bg-gray-100">
                                                <td class="p-3">5</td>
                                                <td class="p-3">Shri. Rahul Dongardive</td>
                                                <td class="p-3">Member, Lab Assistant</td>
                                                <td class="p-3 text-blue-600"><a href="mailto:lacserahul@iiitn.ac.in">lacserahul@iiitn.ac.in</a></td>
                                                <td class="p-3">7219333382</td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="p-3">6</td>
                                                <td class="p-3">Mr. Hardik Deore</td>
                                                <td class="p-3">Student Representative (BT22CSE123)</td>
                                                <td class="p-3 text-blue-600"><a href="mailto:bt22cse123@iiitn.ac.in">bt22cse123@iiitn.ac.in</a></td>
                                                <td class="p-3">----</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                    
                        
                            <div class="mt-6 text-center">
                                <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741527327/iiitn/w29tewhs5rqquek8dhnn.pdf" target="_blank" class="text-[#00457b] font-semibold hover:underline text-lg">
                                    📜 Sexual Harassment of Women at Workplace (Prevention, Prohibition & Redressal) Act, 2013 - Click Here
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <%- include('../partials/footer') %>
    </body>
    <%- include('../partials/tail2') %>