<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
        <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>
   

      <div
      class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gamd:p-4 p-[4px] bg-[#00457b] py-3 md:py-5"
    >
      <a
        class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
        href="/"
        >Home <i class="ri-arrow-right-s-line text-md"></i>
      </a>
      <a
        class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
        href="/"
        >Others <i class="ri-arrow-right-s-line text-md"></i>
      </a>
      <a
      class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
      href="/others/institution-innovation-council"
      >Institution Innovation Council
    </a>
    </div>
      <!-- Main Content -->
      <div class="border-4 border-[#00457b] md:m-10 m-4 pb-10 text-black">
        <div class="px-8 md:px-20 lg:px-40 mt-8 md:mt-16 mb-8 md:mb-10">
            <h1  class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">Institution Innovation Council</h1>
            <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
            <h2 class="md:mt-10 mt-6 text-md md:text-xl uppercase font-medium text-[#00457b]">About : </h2>
            <p>In the year 2018, the Ministry of Education (MoE) through MoE’s Innovation Cell (MIC) established the Institution’s Innovation Council (IIC) program in collaboration with AICTE for Higher Educational Institutions (HEIs) to systematically foster the culture of innovation and start-up ecosystem in educational institutions.</p>
            <p>The Ministry of Education's Innovation Cell has introduced and is implementing several policy initiatives, including:</p>
            <ul class="list-disc">
                <li>Smart India Hackathon</li>
                <li>International Hackathons</li>
                <li>Atal Ranking of Institutions on Innovation Achievements (ARIIA)</li>
                <li>Establishment of Institution’s Innovation Councils (IICs)</li>
                <li>National Innovation and Start-up Policy (NISP) for Higher Education Institutions (HEIs)</li>
            </ul>
            <p>These programs aim to encourage Indian youth to foster innovation and build successful enterprises.</p>
            
            <h2 class="md:mt-10 mt-6 text-md md:text-xl uppercase font-medium text-[#00457b]">Vision : </h2>
            <p>Construction of an entrepreneurial ecosystem towards enterprising IIIT Nagpur.</p>
            
            <h2 class="md:mt-10 mt-6 text-md md:text-xl uppercase font-medium text-[#00457b]">Mission : </h2>
            <ul class="list-disc">
                <li>Evolving human potential to deliver in nation building</li>
                <li>Creating entrepreneurship awareness and environment at IIIT Nagpur</li>
                <li>Indoctrinating a practice of innovation-driven entrepreneurship in faculty and students</li>
                <li>Manoeuvring students in setting up an enterprise for the development of indigenous products and services</li>
            </ul>
            
            <h2 class="md:mt-10 mt-6 text-md md:text-xl uppercase font-medium text-[#00457b]">Goals : </h2>
            <ul class="list-disc">
                <li>To make each individual of IIIT Nagpur aware</li>
                <li>To encourage students, faculty, and alumni</li>
                <li>Call for idea tanks and contests on ideas</li>
                <li>Exploration of the entrepreneurial world</li>
                <li>Products visualization</li>
                <li>Plans for start-ups</li>
            </ul>
            
            <h2 class="md:mt-10 mt-6 text-md md:text-xl uppercase font-medium text-[#00457b]">Constitution (Faculty) : </h2>
            <h3 class="text-center md:mt-10 mt-6 text-md md:text-xl uppercase font-medium text-[#00457b] underline">Institute Innovation Council at IIIT Nagpur for Academic Year 2024-2025 </h3>
            
            <table class="w-full border-collapse border border-gray-400 shadow-lg rounded-lg mt-10 lg:text-[1vw] md:text-[1.5vw] text-[2.5vw]">
                <thead>
                    <tr class="bg-[#00457b] text-white text-left">
                        <th class="md:p-4 p-[4px] border border-gray-400">Sr. No.</th>
                        <th class="md:p-4 p-[4px] border border-gray-400">Name of Member</th>
                        <th class="md:p-4 p-[4px] border border-gray-400">Designation</th>
                        <th class="md:p-4 p-[4px] border border-gray-400">Post</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-300">
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">1</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Aatish S. Daryapurkar</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Assistant Professor -BS, IIIT Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">IIC President</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">2</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Akshay Zadgaonkar</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Cofounder of Flash Theory and BabyVerse, Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">IIC Vice President</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">3</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Kamaljeet</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Assistant Professor -BS, IIIT Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">IIC Convener</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">4</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Raghavendra Deshmukh</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Professor – VNIT Incubation In-charge</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">External Member</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">5</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Mr. Vinay Tyagi</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Delivery Head, Engineering and Industrial Services Business Unit, Tata Consultancy Services, MIHAN, Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">External Member (Industry Expert)</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">6</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Mr. Akshay Kekare</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Director, Alabso Circle Pvt Ltd; Partner in Techwalnut Innovations LLP</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">External Member (Industry Expert)</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">7</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Ms. Shilpa Pawankar</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Assistant Registrar (Account), IIIT Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Member</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">8</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Shankar Bhattacharjee</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Assistant Professor -ECE, IIIT Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Innovation Activity Coordinator</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">9</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Jitendra Tembhurne</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Assistant Professor -CSE, IIIT Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Startup Activity Coordinator</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">10</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Nikhil Dhengre</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Assistant Professor -ECE, IIIT Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Internship Activity Coordinator</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">11</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Neha Kasture</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Assistant Professor -CSE, IIIT Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Social Media Coordinator</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">12</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Kirti Dorshetwar</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Assistant Professor -BS, IIIT Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">IPR Activity Coordinator</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="md:p-4 p-[4px] border border-gray-400">13</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Dr. Milind Penurkar</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">Assistant Professor -CSE, IIIT Nagpur</td>
                        <td class="md:p-4 p-[4px] border border-gray-400">NIRF Coordinator</td>
                    </tr>
                </tbody>
            </table>
            
            <h2 class="md:mt-10 mt-6 text-md md:text-xl uppercase font-medium text-[#00457b]">Achievements of IIC of IIIT Nagpur : </h2>
            <ul class="list-disc space-y-2 mt-4">
                <li><span class="font-bold text-[#00457b]"> NISP :</span>  Adopted National Innovation and Startup Policy at IIIT Nagpur.</li>
                <li><span class="font-bold text-[#00457b]">ARIIA :</span>   IIIT Nagpur secured 8th rank in Band-Promising of ARIIA RANKINGS 2021 under the category of Institute of National Importance & Central Universities/CFTIs (Technical).</li>
                <li><span class="font-bold text-[#00457b]"> New Courses :</span>  Introduced "Technology, Innovation, and Society" and "Introduction to Entrepreneurship."</li>
                <li><span class="font-bold text-[#00457b]"> Funding :</span>  Received funds to organize the “Impact Lecture Series.”</li>
                <li><span class="font-bold text-[#00457b]"> Udyam :</span>  Established the Entrepreneurship Development – Innovation & Startup Cell to support aspiring innovators and entrepreneurs.</li>
                <li><span class="font-bold text-[#00457b]">MSME Champion Scheme : </span>  IIIT Nagpur is recognized as a Host Institute (HI) for the MSME Innovative Scheme, receiving nine ideas for incubation in 2022-2023.</li>
            </ul>
             
    </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 