<%- include('../partials/head2') %>

    <body>
        <%- include('../partials/nav') %>
            <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
                <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>


                <div
                    class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gamd:p-4 p-[4px] bg-[#00457b] py-3 md:py-5">
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Others <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/others/offcial-documents">Official Documents
                    </a>
                </div>
                <!-- Main Content -->
                <div class="border-4 border-[#00457b] md:m-10 m-4 pb-10 text-black">
                    <div class="px-2 md:px-20 lg:px-40 mt-8 md:mt-16 mb-8 md:mb-10">
                        <h1 class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">Official Documents</h1>
                        <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
                        <div class="max-w-6xl mx-auto space-y-10">

                            <!-- Establishment Section -->
                            <div class=" rounded-lg md:p-6 p-2">
                                <h2 class="text-2xl font-semibold mb-4 text-green-700">Establishment Section</h2>
                                <div class="overflow-x-auto">
                                    <table class="w-full border-collapse border border-gray-400 rounded-lg mt-2 lg:text-[1vw] md:text-[1.5vw] text-[2.5vw]">
                                        <thead>
                                            <tr class="bg-green-600 text-white">
                                                <th class="md:p-4 p-[4px] border border-gray-400">Sr. No</th>
                                                <th class="md:p-4 p-[4px] border border-gray-400">Documents Name</th>
                                                <th class="md:p-4 p-[4px] border border-gray-400">Link</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y divide-gray-300">
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">1</td>
                                                <td class="md:p-4 p-[4px] border">Annual Statement of Immovable Property
                                                    Declaration (English)</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741541574/iiitn/jf5cmhc57utoxgztbvmn.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">2</td>
                                                <td class="md:p-4 p-[4px] border">Annual Statement of Immovable Property
                                                    Declaration (Hindi)</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741541574/iiitn/jf5cmhc57utoxgztbvmn.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">3</td>
                                                <td class="md:p-4 p-[4px] border">Family Declaration Format</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741541674/iiitn/cm9eik04pfkro0nwdodk.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">4</td>
                                                <td class="md:p-4 p-[4px] border">Regular Staff CCL Application Form</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741541770/iiitn/rkf75bsa6dwmmulhpnht.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">5</td>
                                                <td class="md:p-4 p-[4px] border">Regular Staff EL & HPL Application Form</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741541890/iiitn/rschp6xojnaf5zhtoyze.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">6</td>
                                                <td class="md:p-4 p-[4px] border">Regular Teaching EL Application Form</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741541956/iiitn/cf7ehxl7pj42qix2yn4r.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">7</td>
                                                <td class="md:p-4 p-[4px] border">Joining Report</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542022/iiitn/mwxwtnf6nrosw6vek1kt.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">8</td>
                                                <td class="md:p-4 p-[4px] border">Teaching SCL Application Form</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542082/iiitn/ccw9x42p3en5myifu7wz.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">9</td>
                                                <td class="md:p-4 p-[4px] border">Regular Teaching CL Application Form</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542120/iiitn/nlvp9b7qxyvywafhgpe8.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">10</td>
                                                <td class="md:p-4 p-[4px] border">Regular Staff CL Application Form</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542167/iiitn/zxaelht00oendx1filsg.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">11</td>
                                                <td class="md:p-4 p-[4px] border">Faculty-NOC Format for Job Application</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542228/iiitn/x06csd1s5sobipmq3igg.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">12</td>
                                                <td class="md:p-4 p-[4px] border">Non Teaching-NOC Format for Job Application</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542278/iiitn/xylw4z4t7f7slcllfmjm.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">13</td>
                                                <td class="md:p-4 p-[4px] border">Non Teaching Staff Leave Application Format</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542320/iiitn/l5pslmrapsvabysbc2gj.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">14</td>
                                                <td class="md:p-4 p-[4px] border">Headquarter Leave Format</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542370/iiitn/osdsta6octt6ie6vaai5.pdf">Click here</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Exam Section -->
                            <div class=" rounded-lg md:p-6 p-2">
                                <h2 class="text-2xl font-semibold mb-4 text-blue-700">Exam Section</h2>
                                <div class="overflow-x-auto">
                                    <table class="w-full border-collapse border border-gray-400 rounded-lg mt-2 lg:text-[1vw] md:text-[1.5vw] text-[2.5vw]">
                                        <thead>
                                            <tr class="bg-blue-600 text-white">
                                                <th class="md:p-4 p-[4px] border">Sr. No</th>
                                                <th class="md:p-4 p-[4px] border">Documents Name</th>
                                                <th class="md:p-4 p-[4px] border">Link</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y divide-gray-300">
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">1</td>
                                                <td class="md:p-4 p-[4px] border">Transcript Application</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542413/iiitn/idtmajamlgna7qg8ipwt.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">2</td>
                                                <td class="md:p-4 p-[4px] border">Official Transcript Courier Charges</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542469/iiitn/acw3jfwv6qdoq2c2w5nc.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">3</td>
                                                <td class="md:p-4 p-[4px] border">No Dues Format for B.Tech</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542505/iiitn/fpokouswecv8vxoafxbw.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">4</td>
                                                <td class="md:p-4 p-[4px] border">No Dues Format for PhD</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542556/iiitn/bj59izqbjxsgzzs7s7tz.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">5</td>
                                                <td class="md:p-4 p-[4px] border">Checklist for PhD Thesis Submission</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542607/iiitn/hxnciwnkenq71gqsipps.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">6</td>
                                                <td class="md:p-4 p-[4px] border">Notice for Pass Out Students (Authority Letter)</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542647/iiitn/csyeuf1l0riary09igve.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">7</td>
                                                <td class="md:p-4 p-[4px] border">Six Monthly Progress Seminar (PhD)</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542688/iiitn/uano9dzptoelg4x2xpbz.pdf">Click here</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Account Section -->
                            <div class=" rounded-lg md:p-6 p-2">
                                <h2 class="text-2xl font-semibold mb-4 text-purple-700">Account Section</h2>
                                <div class="overflow-x-auto">
                                    <table class="w-full border-collapse border border-gray-400 rounded-lg mt-2 lg:text-[1vw] md:text-[1.5vw] text-[2.5vw]">
                                        <thead>
                                            <tr class="bg-purple-600 text-white">
                                                <th class="md:p-4 p-[4px] border">Sr. No</th>
                                                <th class="md:p-4 p-[4px] border">Documents Name</th>
                                                <th class="md:p-4 p-[4px] border">Link</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y divide-gray-300">
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">1</td>
                                                <td class="md:p-4 p-[4px] border">Bank Details for Honorarium Transferred</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542727/iiitn/mefuncdojutshy5roln1.pdf">Click here</a></td>
                                            </tr>
                                            <tr class="hover:bg-gray-100">
                                                <td class="md:p-4 p-[4px] border">2</td>
                                                <td class="md:p-4 p-[4px] border">SOP for Advance Settlement</td>
                                                <td class="md:p-4 p-[4px] border text-blue-600"><a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741542781/iiitn/iuyciwvwmd8ly6i5ppes.pdf">Click here</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <%- include('../partials/footer') %>
    </body>
    <%- include('../partials/tail2') %>