<%- include('../partials/head2') %>

    <body>
        <%- include('../partials/nav') %>
            <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
                <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>


                <div
                    class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5">
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Others <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/others/press-release">Press Release

                    </a>
                </div>
                <!-- Main Content -->
                <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10 text-black">
                    <div class="px-4 md:px-20 lg:px-40 mt-8 md:mt-16 mb-8 md:mb-10">
                        <h1 class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">Press Release
                        </h1>
                        <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
                        <div class="rounded-lg p-6 overflow-x-auto">
                            <table class="w-full border-collapse border border-gray-300 bg-white">
                                <thead>
                                    <tr class="bg-[#00457b] text-white">
                                        <th class="border border-gray-300 px-4 py-2">Date</th>
                                        <th class="border border-gray-300 px-4 py-2">Event</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-800">
                                    <tr class="bg-gray-100">
                                        <td class="border border-gray-300 px-4 py-2 font-bold">03 March 2025</td>
                                        <td class="border border-gray-300 px-4 py-2">Lymphatic Filariasis (Hathipaon) awareness campaign and Free Tuberculosis (TB) Health Checkup Camp</td>
                                    </tr>
                                    <tr>
                                        <td class="border border-gray-300 px-4 py-2 font-bold">25 Feb 2025</td>
                                        <td class="border border-gray-300 px-4 py-2">Abhivyakti 2025</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="border border-gray-300 px-4 py-2 font-bold">12 Feb 2025</td>
                                        <td class="border border-gray-300 px-4 py-2">Felicitation Ceremony of AICTE-QIP Certification Programme</td>
                                    </tr>
                                    <tr>
                                        <td class="border border-gray-300 px-4 py-2 font-bold">04 Feb 2025</td>
                                        <td class="border border-gray-300 px-4 py-2">Annual Sports Meet Kshitij 2025 conducted successfully</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="border border-gray-300 px-4 py-2 font-bold">26 Jan 2025</td>
                                        <td class="border border-gray-300 px-4 py-2">E-Summit 2025: A Grand Celebration of Entrepreneurship at IIIT Nagpur</td>
                                    </tr>
                                    <tr>
                                        <td class="border border-gray-300 px-4 py-2 font-bold">26 Jan 2025</td>
                                        <td class="border border-gray-300 px-4 py-2">76th Republic Day celebration at IIIT Nagpur</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="border border-gray-300 px-4 py-2 font-bold">24 Jan 2025</td>
                                        <td class="border border-gray-300 px-4 py-2">Students from IIIT Nagpur Invited as Special Guests for Republic Day Parade New Delhi</td>
                                    </tr>
                                    <tr>
                                        <td class="border border-gray-300 px-4 py-2 font-bold">13 Jan 2025</td>
                                        <td class="border border-gray-300 px-4 py-2">"Failure Marks the Beginning of Success, Turning Setbacks into Stepping Stones”: Rashmi Samant at IIIT Nagpur</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="border border-gray-300 px-4 py-2 font-bold">07 Jan 2025</td>
                                        <td class="border border-gray-300 px-4 py-2">A Five-Day Online STTP on “Gender Equality is a Myth!” Successfully Organized by IIIT Nagpur</td>
                                    </tr>
                                    <tr>
                                        <td class="border border-gray-300 px-4 py-2 font-bold">07 Nov 2024</td>
                                        <td class="border border-gray-300 px-4 py-2">IIIT Nagpur and Prajapita Brahma Kumaris Ishwariya Vishwa Vidyalaya, Mount Abu, Rajasthan Collaborate to Promote Holistic Development</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="border border-gray-300 px-4 py-2 font-bold">29 Oct 2024</td>
                                        <td class="border border-gray-300 px-4 py-2">7th edition of Annual Flagship Technical Fest, TantraFiesta 2024</td>
                                    </tr>
                                    <tr>
                                        <td class="border border-gray-300 px-4 py-2 font-bold">10 Oct 2024</td>
                                        <td class="border border-gray-300 px-4 py-2">Visit of Chairman, Board of Governors, Indian Institute of Information Technology, Nagpur to Institute Campus</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="border border-gray-300 px-4 py-2 font-bold">10 Oct 2024</td>
                                        <td class="border border-gray-300 px-4 py-2">IIIT Nagpur expressed extreme grief on the sad demise of Shri Ratan Naval Tata</td>
                                    </tr>
                                    <tr>
                                        <td class="border border-gray-300 px-4 py-2 font-bold">30 Sept 2024</td>
                                        <td class="border border-gray-300 px-4 py-2">InFacto 3.0 – A Grand Success at IIIT Nagpur</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                         
                    </div>
                </div>
                <%- include('../partials/footer') %>
    </body>
    <%- include('../partials/tail2') %>