<%- include('../partials/head2') %>

    <body>
        <%- include('../partials/nav') %>
            <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
                <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>


                <div
                    class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5">
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/admissions/undergraduate"> Admission<i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/admissions/format">Formats
                    </a>
                </div>
                <!-- Main Content -->
                <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10 text-black">
                    <div class="px-4 md:px-20 lg:px-40 mt-8 md:mt-16 mb-8 md:mb-10"> 
<div class="mt-6">
    <h3 class="md:text-3xl text-xl font-semibold text-[#00457b] text-center">Institute Formats</h3>

    <div class="overflow-x-auto mt-4">
        <table class="bg-white w-full border-collapse border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Sr. No.</th>
                    <th class="border border-gray-300 px-4 py-2">Format</th>
                    <th class="border border-gray-300 px-4 py-2">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">1</td>
                    <td class="border border-gray-300 px-4 py-2">Undertaking for Caste Validity (Only for Maharashtra Candidates)</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" target="_blank" class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">2</td>
                    <td class="border border-gray-300 px-4 py-2">Undertaking for Correctness in Admission Form</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">3</td>
                    <td class="border border-gray-300 px-4 py-2">Undertaking for Non-Available Documents</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="#" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">4</td>
                    <td class="border border-gray-300 px-4 py-2">Affidavit for Gap Certificate</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585139/iiitn/bvufqlq7ejv2adogjooy.pdf"
                        target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mt-6">
    <h3 class="md:text-3xl text-xl font-semibold text-[#00457b] text-center">Central Formats</h3>

    <div class="overflow-x-auto mt-4">
        <table class="bg-white w-full border-collapse border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Sr. No.</th>
                    <th class="border border-gray-300 px-4 py-2">Format</th>
                    <th class="border border-gray-300 px-4 py-2">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">1</td>
                    <td class="border border-gray-300 px-4 py-2">FORM-GEN-EWS</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585257/iiitn/gnidf7b1bbogmrklko4i.pdf" target="_blank" class="text-blue-600 hover:underline font-medium">Formats</a>

                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">2</td>
                    <td class="border border-gray-300 px-4 py-2">FORM-OBC-NCL</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585298/iiitn/i9mpavzo92clfem2bhrb.pdf" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">3</td>
                    <td class="border border-gray-300 px-4 py-2">FORM-SC-ST</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585388/iiitn/pfssgj9bj6rkmbf8ob9c.pdf" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">4</td>
                    <td class="border border-gray-300 px-4 py-2">FORM-PwD (II)</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585456/iiitn/bltizk9qubvaxgo6f6qe.pdf" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">5</td>
                    <td class="border border-gray-300 px-4 py-2">FORM-PwD (III)</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585503/iiitn/grqlxnkx989okulgh4ht.pdf" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">6</td>
                    <td class="border border-gray-300 px-4 py-2">FORM-PwD (IV)</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585565/iiitn/jhgpvlls8fmiaea3azwg.pdf" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">7</td>
                    <td class="border border-gray-300 px-4 py-2">FORM-DYSLEXIC-1</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585646/iiitn/qwz7qblbrfsp8j9faihf.pdf" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">8</td>
                    <td class="border border-gray-300 px-4 py-2">FORM-DYSLEXIC-2</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585715/iiitn/kkjddmy0vmwzis5a8unq.pdf" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">9</td>
                    <td class="border border-gray-300 px-4 py-2">FORM-DS</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585783/iiitn/ebrnidmudtnf3ur1iigz.pdf" target="_blank"  class="text-blue-600 hover:underline font-medium">Formats</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</div>   </div>
                </div>
                <%- include('../partials/footer') %>
    </body>
    <%- include('../partials/tail2') %>