<%- include('../partials/head2') %>

    <body>
        <%- include('../partials/nav') %>
            <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
                <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>


                <div
                    class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5">
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/admissions/undergraduate">Admission <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/admissions/loan">Loan Schemes
                    </a>
                </div>
                <!-- Main Content -->
                <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10 text-black">
                    <div class="px-4 md:px-20 lg:px-40 mt-8 md:mt-16 mb-8 md:mb-10"> 
                        <h1 class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">Loan Schemes</h1>
                        <ul class="list-disc pl-5">
                            <li class="mt-4 mb-2">
                                <a 
                                    class="text-[#f26e32] underline hover:text-[#f26e32]" 
                                    href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741633276/iiitn/xg5lzjajh9sknsbz4zgn.jpg" 
                                    target="_blank"
                                >
                                    SBI Bank
                                </a>
                            </li>
                            <li class="mt-4 mb-2">
                                <a 
                                    class="text-[#f26e32] underline hover:text-[#f26e32]" 
                                    href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741633486/iiitn/z7563qba8ytwkrtfby02.pdf" 
                                    target="_blank"
                                >
                                    Canara Bank
                                </a>
                            </li>
                            <li class="mt-4 mb-2">
                                <a 
                                    class="text-[#f26e32] underline hover:text-[#f26e32]" 
                                    href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741633532/iiitn/tvqaiyigtbfzp0rzgygd.pdf" 
                                    target="_blank"
                                >
                                    PNB Bank
                                </a>
                            </li>
                            <li class="mt-4 mb-2">
                                <a 
                                    class="text-[#f26e32] underline hover:text-[#f26e32]" 
                                    href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741633593/iiitn/ejrlir9kpasct4gfwh6t.pdf" 
                                    target="_blank"
                                >
                                    Bank of Maharashtra
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <%- include('../partials/footer') %>
    </body>
    <%- include('../partials/tail2') %>