<%- include('../partials/head2') %>

    <body>
        <%- include('../partials/nav') %>
            <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
                <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>


                <div
                    class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5">
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Admission <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="student/scholarship">Scholarship
                    </a>
                </div>
                <!-- Main Content -->
                <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10 text-black">
                    <div class="px-4 md:px-20 lg:px-40 mt-8 md:mt-16 mb-8 md:mb-10"> 
                        <h1  class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">Scholarship</h1>
                        <div class=" rounded-lg mb-8">
                            <h2 class="text-lg text-[#00457b]">Notice: National Overseas Scholarship Scheme (NOS) Advertisement</h2>
                            <ul class="mt-2 space-y-2">
                                <li>
                                    Hindi Version :   <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741633728/iiitn/x0uj1nfk4okdvstzskia.pdf" class="text-[#f26e32] underline hover:text-[#f26e32]">Click Here</a>
                                </li>
                                <li>
                                    English Version : <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741633788/iiitn/g2fdkavncrg3s4ulbbcs.pdf" class="text-[#f26e32] underline hover:text-[#f26e32]"> Click Here</a>
                                </li>
                                <li>
                                    Instruction Manual for NOS Schemes : <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741633881/iiitn/jdexvn30ptjcqjuah31q.pdf" class="text-[#f26e32] underline hover:text-[#f26e32]"> Click Here</a>
                                </li>
                            </ul>
                        </div>
                        
                        <table class="bg-white border-collapse border border-gray-300 w-full text-left">
                            <thead>
                                <tr class="border-[#00457b] bg-[#00457b] text-white">
                                    <th class="border px-4 py-2">Sr.No.</th>
                                    <th class="border px-4 py-2">Student Domicile State</th>
                                    <th class="border px-4 py-2">Name of the Scheme</th>
                                    <th class="border px-4 py-2">Scheme Governed by</th>
                                    <th class="border px-4 py-2">Website Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Maharashtra Scholarships -->
                                <tr>
                                    <td class="border px-4 py-2 text-center">1</td>
                                    <td class="border px-4 py-2 text-center" rowspan="8">Maharashtra</td>
                                    <td class="border px-4 py-2">Government of India Post-Matric Scholarship</td>
                                    <td class="border px-4 py-2">Social Justice and Special Assistance</td>
                                    <td class="border px-4 py-2"><a href="https://mahadbtmahait.gov.in/" target="_blank" class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr><td class="border px-4 py-2 text-center">2</td><td class="border px-4 py-2">Post-Matric Tuition Fee and Examination Fee (Freeship)</td><td class="border px-4 py-2">Social Justice and Special Assistance</td><td class="border px-4 py-2"><a href="https://mahadbtmahait.gov.in/" class="text-blue-500 underline" target="_blank" >LINK</a></td></tr>
                                <tr><td class="border px-4 py-2 text-center">3</td><td class="border px-4 py-2">Post Matric Scholarship Scheme (Government Of India)</td><td class="border px-4 py-2">Tribal Development Department</td><td class="border px-4 py-2"><a href="https://mahadbtmahait.gov.in/" class="text-blue-500 underline" target="_blank" >LINK</a></td></tr>
                                <tr><td class="border px-4 py-2 text-center">4</td><td class="border px-4 py-2">Tuition Fee & Exam Fee for Tribal Students (Freeship)</td><td class="border px-4 py-2">Tribal Development Department</td><td class="border px-4 py-2"><a href="https://mahadbtmahait.gov.in/" class="text-blue-500 underline"target="_blank" >LINK</a></td></tr>
                                <tr><td class="border px-4 py-2 text-center">5</td><td class="border px-4 py-2">Post Matric Scholarship to VJNT Students</td><td class="border px-4 py-2">VJNT, OBC and SBC Welfare Department</td><td class="border px-4 py-2"><a href="https://mahadbtmahait.gov.in/" class="text-blue-500 underline">LINK</a></td></tr>
                                <tr><td class="border px-4 py-2 text-center">6</td><td class="border px-4 py-2">Tuition Fees and Examination Fees to VJNT Students</td><td class="border px-4 py-2">VJNT, OBC and SBC Welfare Department</td><td class="border px-4 py-2"><a href="https://mahadbtmahait.gov.in/" class="text-blue-500 underline" target="_blank" >LINK</a></td></tr>
                                <tr><td class="border px-4 py-2 text-center">7</td><td class="border px-4 py-2">Post Matric Scholarship to OBC Students</td><td class="border px-4 py-2">VJNT, OBC and SBC Welfare Department</td><td class="border px-4 py-2"><a href="https://mahadbtmahait.gov.in/" class="text-blue-500 underline" target="_blank" >LINK</a></td></tr>
                                <tr><td class="border px-4 py-2 text-center">8</td><td class="border px-4 py-2">Tuition Fees and Examination Fees to OBC Students</td><td class="border px-4 py-2">VJNT, OBC and SBC Welfare Department</td><td class="border px-4 py-2"><a href="https://mahadbtmahait.gov.in/" class="text-blue-500 underline" target="_blank" >LINK</a></td></tr>
                        
                                <!-- Other State Scholarships -->
                                <tr>
                                    <td class="border px-4 py-2 text-center">9</td>
                                    <td class="border px-4 py-2 text-center">Madhya Pradesh</td>
                                    <td class="border px-4 py-2">Mukhya Mantri Medhavi Vidyarthi Yojana - MMVY</td>
                                    <td class="border px-4 py-2">Department of Technical Education & Skill Development</td>
                                    <td class="border px-4 py-2"><a href="https://hescholarship.mp.gov.in/Public/OtherSchemes/GB.aspx?ID=MTE=" class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">10</td>
                                    <td class="border px-4 py-2 text-center">Uttar Pradesh</td>
                                    <td class="border px-4 py-2">Post Matric Other State Scholarship for General Category</td>
                                    <td class="border px-4 py-2">Social Welfare Department</td>
                                    <td class="border px-4 py-2"><a href="https://scholarship.up.gov.in/index.aspx" class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">11</td>
                                    <td class="border px-4 py-2 text-center">Rajasthan</td>
                                    <td class="border px-4 py-2">Dr. Ambedkar Post Matric Scholarship for EBC Students</td>
                                    <td class="border px-4 py-2">Social Justice and Empowerment Department</td>
                                    <td class="border px-4 py-2"><a href="https://sje.rajasthan.gov.in/Scholarship_Portal.aspx" class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">12</td>
                                    <td class="border px-4 py-2 text-center">Telangana</td>
                                    <td class="border px-4 py-2">Post-Matric (Outside State) Scholarship for ST/SC/BC/EBC/Disabled Welfare Category Students</td>
                                    <td class="border px-4 py-2">Government of Telangana</td>
                                    <td class="border px-4 py-2"><a href="https://telanganaepass.cgg.gov.in/" target="_blank"  class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">13</td>
                                    <td class="border px-4 py-2 text-center">Andhra Pradesh</td>
                                    <td class="border px-4 py-2">Post-Matric (Outside State) Scholarship for ST/SC</td>
                                    <td class="border px-4 py-2">Government of Andhra Pradesh</td>
                                    <td class="border px-4 py-2"><a href="https://jnanabhumi.ap.gov.in/" target="_blank"  class="text-blue-500 underline">LINK</a></td>
                                </tr>
                        
                                <!-- National Scholarship Portal -->
                                <tr>
                                    <td class="border px-4 py-2 text-center">14</td>
                                    <td class="border px-4 py-2 text-center" rowspan="9">National Scholarship Portal</td>
                                    <td class="border px-4 py-2">Post Matric Scholarships Scheme for Minorities</td>
                                    <td class="border px-4 py-2">Ministry of Minority Affairs</td>
                                    <td class="border px-4 py-2"><a href="https://scholarships.gov.in/" target="_blank" class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">15</td>
                                    <td class="border px-4 py-2">Merit Cum Means Scholarship For Professional and Technical Courses</td>
                                    <td class="border px-4 py-2">Ministry of Minority Affairs</td>
                                    <td class="border px-4 py-2"><a href="https://scholarships.gov.in/" target="_blank" class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">16</td>
                                    <td class="border px-4 py-2">Post-matric Scholarship for Students with Disabilities</td>
                                    <td class="border px-4 py-2">Department of Empowerment of Persons with Disabilities</td>
                                    <td class="border px-4 py-2"><a href="https://scholarships.gov.in/" target="_blank"  class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">17</td>
                                    <td class="border px-4 py-2">Top Class Education Scheme for SC Students</td>
                                    <td class="border px-4 py-2">Ministry of Social Justice and Empowerment</td>
                                    <td class="border px-4 py-2"><a href="https://scholarships.gov.in/" target="_blank"  class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">18</td>
                                    <td class="border px-4 py-2">Central Sector Scheme Of Scholarships for Colleges and University Students</td>
                                    <td class="border px-4 py-2">Department of Higher Education</td>
                                    <td class="border px-4 py-2"><a href="https://scholarships.gov.in/" target="_blank"  class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">19</td>
                                    <td class="border px-4 py-2">Prime Minister's Scholarship Scheme For Central Armed Police Forces And Assam Rifles</td>
                                    <td class="border px-4 py-2">Ministry of Tribal Affairs</td>
                                    <td class="border px-4 py-2"><a href="https://scholarships.gov.in/" target="_blank"  class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">20</td>
                                    <td class="border px-4 py-2">National Fellowship and Scholarship for Higher Education of ST Students - Scholarship (Formally Top Class Education for Schedule Tribe Students) - only for scholarships</td>
                                    <td class="border px-4 py-2">Ministry of Tribal Affairs</td>
                                    <td class="border px-4 py-2"><a href="https://scholarships.gov.in/" target="_blank"  class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">21</td>
                                    <td class="border px-4 py-2">PM Scholarship Scheme For Wards of  States/UTs Police personnel Martyrad during Terror/NAXAL Attacks.</td>
                                    <td class="border px-4 py-2">WARB Ministry of Home Affairs</td>
                                    <td class="border px-4 py-2"><a href="https://scholarships.gov.in/"  target="_blank"  class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 text-center">22</td>
                                    <td class="border px-4 py-2">Prime Minister's Scholarship Scheme For RPF/RPSF</td>
                                    <td class="border px-4 py-2">RPF/RPSF, Ministry of Railway</td>
                                    <td class="border px-4 py-2"><a href="https://scholarships.gov.in/" target="_blank"  class="text-blue-500 underline">LINK</a></td>
                                </tr>
                                <!-- Additional National Scholarship Portal entries continue similarly... -->
                            </tbody>
                        </table>
                        
                    </div>
                </div> </div>
                <%- include('../partials/footer') %>
    </body>
    <%- include('../partials/tail2') %>