<%- include('../partials/head2') %>

    <body>
        <%- include('../partials/nav') %>
            <div class="bgin w-full min-h-screen bg-white text-[#00457b]">
                <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>


                <div
                    class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5">
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/">Home <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="/admissions/undergraduate-btech">Undergraduate B.TECH <i class="ri-arrow-right-s-line text-md"></i>
                    </a>
                    <a class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
                        href="#">Details
                    </a>
                </div>
                <!-- Main Content -->
                <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10 text-black">
                    <div class="px-4 md:px-20 lg:px-40 mt-8 md:mt-16 mb-8 md:mb-10">
                        <div class="flex lg:flex-row flex-col pb-6 gap-2 text-[2.4vw]  md:text-[1.2vw] lg:text-[1vw]">
                            <div class="flex gap-2 justify-between">
                                <a href="/admissions/format">
                                    <h1
                                        class="uppercase text-[#00457b] bg-white border-2 border-[#00457b] hover:bg-[#00457b] hover:text-white md:px-6 px-2 py-2 rounded-md transition-all">
                                       format</h1>
                                </a>
                                <a href="/student/fees">
                                    <h1
                                        class="uppercase text-[#00457b] bg-white border-2 border-[#00457b] hover:bg-[#00457b] hover:text-white md:px-6 px-2 py-2 rounded-md transition-all">
                                        fees</h1>
                                </a>
                                <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741585981/iiitn/x24sfivrsskmcmmlf6qs.pdf">
                                    <h1
                                        class="uppercase text-[#00457b] bg-white border-2 border-[#00457b] hover:bg-[#00457b] hover:text-white md:px-6 px-2 py-2 rounded-md transition-all">
                                        Academic rule book</h1>
                                </a>
                            </div>
                            <div class="flex gap-2 justify-between">
                                <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741586186/iiitn/ofmjpy3fdcdrpc0a2bex.pdf" target="_blank">
                                    <h1
                                        class="uppercase text-[#00457b] bg-white border-2 border-[#00457b] hover:bg-[#00457b] hover:text-white md:px-6 px-2 py-2 rounded-md transition-all">
                                        last year cut-offs</h1>
                                </a>
                                <a href="/admissions/loan">
                                    <h1
                                        class="uppercase text-[#00457b] bg-white border-2 border-[#00457b] hover:bg-[#00457b] hover:text-white md:px-6 px-2 py-2 rounded-md transition-all">
                                        loan schemes</h1>
                                </a>
                                <a href="/admissions/scholarship">
                                    <h1
                                        class="uppercase text-[#00457b] bg-white border-2 border-[#00457b] hover:bg-[#00457b] hover:text-white md:px-6 px-2 py-2 rounded-md transition-all">
                                        scholarships</h1>
                                </a>
                                <a href="/admissions/more-btech">
                                    <h1
                                        class="uppercase text-[#00457b] bg-white border-2 border-[#00457b] hover:bg-[#00457b] hover:text-white md:px-6 px-2 py-2 rounded-md transition-all">
                                        Syllabus</h1>
                                </a>
                            </div>
                        </div>
                        <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>

                        <div class="mt-6">
                            <h2 class="text-2xl font-semibold">B.Tech Admission 2024-2025</h2>
                        
                            <ul class="mt-4 space-y-2">
                                <li>
                                    🔹 <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741583703/iiitn/bvwjrwkniptrt4v0hbod.pdf" class="text-blue-600 hover:underline font-medium">
                                        Revised Institute Reporting Schedule (08.08.2024)
                                    </a>
                                </li>
                                <li>
                                    🔹 <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741583781/iiitn/gccyg6pf8baeg9402kef.pdf" class="text-blue-600 hover:underline font-medium" target="_blank">
                                        Notice for Latest Availability of Hostel Accommodation (As on 08.08.2024, 04:00 PM)
                                    </a>
                                </li>
                                <li>
                                    🔹 <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741583846/iiitn/urpdlsnm2flahswmqf9r.pdf" class="text-blue-600 hover:underline font-medium" target="_blank">
                                        Institute Reporting Schedule 2024-2025
                                    </a>
                                </li>
                                <li>
                                    🔹 <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741583961/iiitn/elplezdixadgnikeefsx.pdf" class="text-blue-600 hover:underline font-medium" target="_blank">
                                        Important Notice for Students with PWD Status
                                    </a>
                                </li>
                                <li>
                                    🔹 <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741584273/iiitn/ot2o5hqfsqezwe1267cl.png" class="text-blue-600 hover:underline font-medium" target="_blank">
                                        Institute Details at a Glance 2024-25
                                    </a>
                                </li>
                            </ul>
                        
                            <h3 class="text-xl font-semibold mt-6">IIIT Nagpur Offers the Following Undergraduate Courses:</h3>
                        
                            <div class="overflow-x-auto mt-4">
                                <p class="mt-4">
                                    🔹 <a href="/admissions/more-btech" class="text-blue-600 hover:underline font-medium">More Details About Undergraduate Courses</a>
                                </p>
                                <br>
                                <table class="w-full border-collapse border border-gray-300">
                                    <thead class="bg-gray-200">
                                        <tr>
                                            <th class="border border-gray-300 px-4 py-2">Sr. No.</th>
                                            <th class="border border-gray-300 px-4 py-2">Program Name</th>
                                            <th class="border border-gray-300 px-4 py-2">Total Seat Intake</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="border border-gray-300 px-4 py-2 text-center">1</td>
                                            <td class="border border-gray-300 px-4 py-2">B. Tech. Computer Science & Engineering</td>
                                            <td class="border border-gray-300 px-4 py-2 text-center">223</td>
                                        </tr>
                                        <tr>
                                            <td class="border border-gray-300 px-4 py-2 text-center">2</td>
                                            <td class="border border-gray-300 px-4 py-2">B. Tech. CSE (Artificial Intelligence & Machine Learning)</td>
                                            <td class="border border-gray-300 px-4 py-2 text-center">66</td>
                                        </tr>
                                        <tr>
                                            <td class="border border-gray-300 px-4 py-2 text-center">3</td>
                                            <td class="border border-gray-300 px-4 py-2">B. Tech. CSE (Data Science & Analytics)</td>
                                            <td class="border border-gray-300 px-4 py-2 text-center">66</td>
                                        </tr>
                                        <tr>
                                            <td class="border border-gray-300 px-4 py-2 text-center">4</td>
                                            <td class="border border-gray-300 px-4 py-2">B. Tech. CSE (Human-Computer Interaction & Gaming Technology)</td>
                                            <td class="border border-gray-300 px-4 py-2 text-center">66</td>
                                        </tr>
                                        <tr>
                                            <td class="border border-gray-300 px-4 py-2 text-center">5</td>
                                            <td class="border border-gray-300 px-4 py-2">B. Tech. Electronics & Communication Engineering</td>
                                            <td class="border border-gray-300 px-4 py-2 text-center">150</td>
                                        </tr>
                                        <tr>
                                            <td class="border border-gray-300 px-4 py-2 text-center">6</td>
                                            <td class="border border-gray-300 px-4 py-2">B. Tech. ECE (Internet of Things)</td>
                                            <td class="border border-gray-300 px-4 py-2 text-center">66</td>
                                        </tr>
                                        <tr class="bg-gray-100 font-semibold">
                                            <td class="border border-gray-300 px-4 py-2 text-center" colspan="2">Total</td>
                                            <td class="border border-gray-300 px-4 py-2 text-center">637</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </bg-white div>
                        
                           
                        
                            <h3 class="text-xl font-semibold mt-6">Additional Admission Information</h3>
                        
                            <ul class="mt-4 space-y-2">
                                <li>
                                    🔹 <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741584421/iiitn/isggfrmbhpexlyoec3qy.pdf" class="text-blue-600 hover:underline font-medium" target="_blank">
                                        Admission Cancellation & Fees Refund Policy
                                    </a>
                                </li>
                                <li>
                                    🔹 <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741584639/iiitn/d1um9ne7y7ark2ms2vfa.pdf" class="text-blue-600 hover:underline font-medium" target="_blank">
                                        How to Generate Academic Bank of Credits (ABC)/APPAR ID 
                                    </a> 
                                    (<a href="https://www.youtube.com/watch?v=woagWiWpzWI" class="text-blue-600 hover:underline" target="_blank">YouTube Link 1</a> | 
                                    <a href="https://www.abc.gov.in/" class="text-blue-600 hover:underline" target="_blank">ABC Site</a>|
                                    <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741584639/iiitn/d1um9ne7y7ark2ms2vfa.pdf" target="_blank" class="text-blue-600 hover:underline">Guide</a>)

                                </li>
                                <li>
                                    
                                    🔹 
                                    <a href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741584947/iiitn/k680novifwuqzmakng1r.pdf" target="_blank" class="text-blue-600 hover:underline font-medium">
                                        Anti-Ragging Undertaking Guidelines
                                    </a>|
                                    <a href="https://antiragging.in/affidavit_university_form.php" target="_blank" class="text-blue-600 hover:underline">Site</a>

                                </li>
                                <li>
                                    🔹 <a href="" class="text-blue-600 hover:underline font-medium">
                                        Online Admission Portal Link
                                    </a>
                                </li>
                            </ul>
                        </div>
                        

                    </div>
                </div> </div>
                <%- include('../partials/footer') %>
    </body>
    <%- include('../partials/tail2') %>