<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="main w-full min-h-screen bg-white text-black">
      <div class="w-full lg:h-[100px] md:h-[80px]"></div>
      <div class="img w-full overflow-hidden">
        <img
        class="w-full md:h-76 object-cover object-center"
        src="../images/index/20.jpg"
        alt=""
      />
      </div>

      <div class="mainContent w-full">
        <div
          class="routes w-full px-6 md:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#f6f6f6] py-3 md:py-5"
        >
          <a
            class="text-xs md:text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="/"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="/aboutUs"
            >About us <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Institute Profile
          </a>
        </div>

        <div class="content px-6 md:px-44 mt-8 md:mt-16">
            <h2 class="text-xl md:text-2xl uppercase font-bold text-black">Annual Report</h2>
            <div class="w-full h-[1px] bg-zinc-300 mb-3 md:mb-5 mt-2"></div>
          <ol class="text-sm md:text-base pl-6 md:pl-10 text-black list-[upper-alpha] space-y-6">
            <li>
              <span class="text-base md:text-lg font-semibold capitalize"
                >Institute Profile</span
              >
              <p class="text-sm md:text-base m-2 mt-3 md:mt-4 mb-3 md:mb-4 leading-relaxed">
                Indian Institute of Information Technology, Nagpur (IIITN) is
                one of the 20 Indian Institutes of Information Technology
                established under the Public-Private Partnership Scheme by the
                Ministry of Education (erstwhile Ministry of Human Resource
                Development), Government of India. IIITN has been declared as an
                “Institution of National Importance” under the provisions of the
                Indian Institute of Information Technology (Public-Private
                Partnership) Act, 2017. The Institute started functioning during
                the year 2016-17 and shifted to its Permanent Campus in Butibori
                Nagpur under the Department of Higher Education, Ministry of
                Education, and is supported by the Department of Higher
                Education, Government of Maharashtra, and Tata Consultancy
                Services, Mumbai as Industry Partner.
              </p>
            </li>
            <li>
              <span class="text-base md:text-lg font-semibold capitalize"
                >Institute's mandate</span
              >
              <p class="text-sm md:text-base m-2 mt-3 md:mt-4 mb-3 md:mb-4 leading-relaxed">
                One of the main objectives of the Institute is to develop
                competent and capable youth imbued with the spirit of innovation
                and entrepreneurship with the social and environmental
                orientation to meet the knowledge needs of the country and
                provide Global Leadership in Information Technology & Allied
                Fields.
              </p>
            </li>
            <li>
              <span class="text-base md:text-lg font-semibold capitalize"
                >Institute's vision</span
              >
              <p class="text-sm md:text-base m-2 mt-3 md:mt-4 mb-3 md:mb-4 leading-relaxed">
                The Institute aspires to attain the status of a top-notch
                Institution in Information Technology and Allied Fields and to
                emerge as an elite Research Institution by imparting futuristic
                quality education of Global Standards to corroborate the status
                of an “Institution of National Importance”.
              </p>
            </li>
            <li>
              <span class="text-base md:text-lg font-semibold capitalize"
                >Institute's mission</span
              >
              <p class="text-sm md:text-base m-2 mt-3 md:mt-4 mb-3 md:mb-4 leading-relaxed">
                To undertake socially relevant, industry-oriented In-House
                Research & Development Programmes as well as to undertake
                cutting-edge research through Public-Private Participation in
                Information Technology & Allied Fields. The Institute shall
                endeavor to develop innovation and entrepreneurship with social
                and environmental orientation.
              </p>
            </li>
          </ol>

          <div class="cards w-full py-6 md:py-8 flex flex-col md:flex-row items-center justify-center gap-6 md:gap-8">
            <div class="card overflow-hidden rounded-md border-2 border-zinc-100 h-48 md:h-64 w-full md:w-64 bg-red-400">
                <img class="w-full h-full object-cover object-center" src="https://iiitn.ac.in/images/gom.png" alt="img">
            </div>
            <div class="card overflow-hidden rounded-md border-2 border-zinc-100 h-48 md:h-64 w-full md:w-64 bg-red-400">
                <img class="w-full h-full object-cover object-center" src="https://iiitn.ac.in/images/Shikshamantralay2.jpg" alt="img">
            </div>
            <div class="card overflow-hidden rounded-md border-2 border-zinc-100 h-48 md:h-64 w-full md:w-64 bg-red-400">
                <img class="w-full h-full object-cover object-center" src="https://iiitn.ac.in/images/TCS.jpg" alt="img">
            </div>
          </div>

        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 