<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="main w-full min-h-screen bg-white text-black">
      <div class="w-full lg:h-[100px] md:h-[80px]"></div>
      <div class="img w-full overflow-hidden">
        <img
        class="w-full md:h-76 object-cover object-center"
        src="../images/index/20.jpg"
        alt=""
      />
      </div>

      <div class="mainContent w-full">
        <div
          class="routes w-full px-6 md:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#f6f6f6] py-3 md:py-5"
        >
          <a
            class="text-xs md:text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="/"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="/aboutUs"
            >About us <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-xs md:text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >MOU
          </a>
        </div>

        <div class="content px-6 md:px-44 mt-8 md:mt-16">
          <h2 class="text-xl md:text-2xl uppercase font-bold text-black">MOU</h2>
          <div class="w-full h-[1px] bg-zinc-300 mb-4 md:mb-5 mt-2"></div>
          <ol class="text-base md:text-lg pl-6 md:pl-10 text-black list-disc space-y-4 md:space-y-6">
            <li>
              <p class="text-base md:text-xl leading-relaxed md:leading-8 font-normal">
                IIIT Nagpur signed the MoU with Swargiya Dadasaheb Kalmegh
                Smruti Dental College & Hospital,Wanadongari,Nagpur dated on
                28th June 2022.
              </p>
            </li>
            <li>
              <p class="text-base md:text-xl leading-relaxed md:leading-8 font-normal">
                IIIT Nagpur Signed the MoU with Central India Institute of
                Medical Sciences (CIIMS), Nagpur on 5th January 2022
              </p>
            </li>
            <li>
              <p class="text-base md:text-xl leading-relaxed md:leading-8 font-normal">
                IIIT Nagpur Signed the MoU with E-Spin Nanotech Pvt Ltd., IIT
                Kanpur on 27th January 2021
              </p>
            </li>
            <li>
              <p class="text-base md:text-xl leading-relaxed md:leading-8 font-normal">
                MOU signed between Indian Institute of Information Technology,
                Nagpur and Datta Meghe Institute of Medical Sciences, Sawangi
                Meghe, Wardha on 13th March 2020 for Two years – 2020
              </p>
            </li>
            <li>
              <p class="text-base md:text-xl leading-relaxed md:leading-8 font-normal">
                IIIT Nagpur Signed the MoU with Advance Tech India Pvt. Ltd.,
                Punjab, India on 23rd December 2020. This MoU is to collaborate
                and do the innovation needed by the company by IIIT Nagpur
                students and faculties.
              </p>
            </li>
            <li>
              <p class="text-base md:text-xl leading-relaxed md:leading-8 font-normal">MoU between AIIMS, Nagpur and IIIT, Nagpur – 2020</p>
            </li>
            <li>
              <p class="text-base md:text-xl leading-relaxed md:leading-8 font-normal">
                IIITN has signed an MOU with AIIMS, Nagpur for facilitating
                Research Collaboration and for undertaking need-based Projects.
                Under this MOU, Dr. Mayur Parate, Asst. Professor, Department of
                Electronics & Communication Engineering has already developed a
                device for effectively tracking & monitoring of the COVID-19
                Patients. (2020)
              </p>
            </li>
            <li>
              <p class="text-base md:text-xl leading-relaxed md:leading-8 font-normal">
                IIITN has signed an MOU with IIM, Nagpur Foundation for
                Entrepreneurship Development (InFED) of Indian Institute of
                Management, Nagpur for exploration of new age digital/technical
                ideas, concepts, practices, products and services. (2020)
              </p>
            </li>
            <li>
              <p class="text-base md:text-xl leading-relaxed md:leading-8 font-normal">
                IIITN has signed an MOU with Datta Meghe Institute of Medical
                Sciences, Sawangi Meghe, Wardha for facilitating Research
                Collaboration and for undertaking need-based Projects. (2020)
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 