<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="main2 w-full min-h-screen bg-white text-black">
      <div class="w-full lg:h-[100px] md:h-[80px]"></div>
      <div class="img w-full overflow-hidden">
        <img
          class="w-full h-76 object-cover object-center"
          src="../images/basicScience/BS.jpg"
          alt=""
        />
      </div>

      <div class="mainContent w-full">
        <div
          class="routes w-full px-44 flex items-center gap-4 bg-[#f6f6f6] py-5"
        >
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="/"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Basic Sciences <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >About Department
          </a>
        </div>

        <div class="content px-44 mt-16 mb-10">
          <h2 class="text-2xl uppercase font-bold text-black">
            About department
          </h2>
          <div class="w-full h-[1px] bg-zinc-300 mt-2"></div>
          <p class="text-base mt-5 font-normal">
            Department of Basic Sciences at Indian Institute of Information
            Technology Nagpur, established in 2016 and is currently headed by
            <span class="text-base font-bold">Dr. Prasad V. Joshi.</span> The
            Department of Basic Sciences brings together the disciplines of
            Mathematics, Applied Sciences, Humanities, Social Sciences,
            Mechanical Engineering and Electrical Engineering under one roof.
          </p>
          <p class="text-md mt-5 font-normal">
            The department envisages high-quality education and cutting edge
            interdisciplinary research in science and technology. It acts as a
            foundation for all the core Information Technology branches and
            offers various core courses like Applied Sciences, Applied
            Mathematics, Communication Skills, Environmental Studies, Mechanics
            and Graphics, Electrical Engineering. The department caters to
            Information Technology streams by offering electives like Robotics,
            Technical Communication, Professional Ethics, Policy Governance,
            Neuro-fuzzy techniques etc. The 15 proficient faculty members of the
            department bring various interdisciplinary research-oriented areas
            under one gambit as envisioned in NEP 2020. This unique course
            blends the best of contemporary Basic Sciences and Engineering to
            create professionals equally comfortable with human values, applied
            science and technology.
          </p>
          <p class="text-md mt-5 font-normal">
            The department caters to IT mandate of the institute as all the
            courses are integrated with software’s like Matlab, AUTOCAD, 3Ds Max
            etc. Applications of programming in C/C++ are embedded into <br />
            Mathematics, Graphics, and other courses. Modelling and Simulation
            platforms like Webots, Robot operating system, RVC toolbox make the
            curriculum enriching for Electronics and Computer science students.
            Complete with human and social understanding, the department is
            well-known for its breadth of understanding and provides an
            appreciation of intellectual excellence, academic integrity,
            accountability, and creativity.
          </p>
          <p class="text-md mt-5 font-normal">
            The department is favoured with proficient Faculty, all holding PhD
            degrees from renowned institutes across India and abroad having
            interdisciplinary specializations
          </p>
          <p class="text-md mt-5 font-normal">
            The department hosts 5 developed laboratories namely Applied
            Sciences, Mechanics & Graphics, Robotics, Language Lab and
            Electrical Engineering Lab.
          </p>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 